.blog-post {
  margin-top: 96px;

  ul {
    list-style: none;
  }

  .meta-data {
    .authors {
      border-bottom: 1px solid #e3e3e3;
      padding: 7px 0;
      line-height: 1.4;

      @media (max-width: $screen-xs) {
         border-bottom: none;
      }
    }

    .meta {
      li {
        border-bottom: 1px solid #e3e3e3;
        padding: 7px 0;
        line-height: 1.4;

        @media (max-width: $screen-xs){
          display: inline;
          border-bottom: none;
          border-right: 1px solid #e3e3e3;
          padding: 0 12px;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    .social-share {
      margin-top: 10px;
    }
  }

  .post {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 45px;

    .alignleft {
      float: left;
    }

    .alignright {
      float: right;
    }

    .aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .post-title {
      margin-top: 50px;
      margin-bottom: 18px;
    }

    .post-image {
      margin-bottom: 25px;

      img {
        width: 100%;
        height: 390px;
        max-height: 390px;

        @media (max-width: $screen-md) {
          height: 202px;
        }
      }
    }

    .post-categories {
      margin-top: 30px;
    }

    .content {
      margin-bottom: 28px;

      ul {
        list-style: disc;
        margin-left: 12px;
      }

      li {
        margin-left: 10px;
      }

      .social-share {
        margin-top: 30px;

        li {
          display: inline;

          &:nth-child(4n) {
            margin-left: 0;
          }
        }
      }

      code {
        font-size: 12px;
      }
    }

#disqus_thread {
    margin-top: 40px;
}
    }

    .sidebar {
        .categories {
            h4 {
                margin-top: 50px;
                margin-bottom: 10px;
                line-height: 51.55px;
            }

            .cat-item {
                border-bottom: 1px dotted #e3e3e3;
                line-height: 2.3;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .search-form {

            margin-top: 25px;

            input[type='text'] {
                background: url('/img/search-icon.png') no-repeat 96.5% center;

                &:focus {
                    background: url('/img/search-icon-active.png') no-repeat 96.5% center;
                }
            }
        }

        .categories-dropdown {
            margin-top: 32px;
        }
    }
}

.blog-footer-text {
  margin-top: 30px;
  background: url("/img/testimonial-background-pattern.png");
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 100;
  padding: 25px;

  p {
    font-size: 16px;
    a {
      color: #fff;
      text-decoration: underline;
      &:hover { color: inherit; }
    }
  }

  #dan-north-quote {
    font-weight: 400;
  }

}
