.blog-post {
    ul {
        list-style: none;
    }
    .meta-data {
        .authors {
            border-bottom: 1px solid #e3e3e3;
            padding: 7px 0;
            line-height: 1.4;

            @media (max-width: $screen-xs) {
                border-bottom: none;
            }
        }

        .meta {
            li {
                border-bottom: 1px solid #e3e3e3;
                padding: 7px 0;
                line-height: 1.4;

                @media (max-width: $screen-xs){
                    display: inline;
                    border-bottom: none;
                    border-right: 1px solid #e3e3e3;
                    padding: 0 12px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        .social-share {
            margin-top: 10px;
        }
    }

    .post {
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 45px;

        p {
            line-height: 1.67;
            word-wrap: break-word;
        }

        ol {
            margin-left: 30px;
        }

        a {
            color: $theme-color-pink;

            &:hover {
                text-decoration: underline;
            }
        }

        .alignleft {
            float: left;
        }

        .alignright {
            float: right;
        }

        .aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .post-title {
            margin-top: 50px;
            margin-bottom: 18px;
        }

        .post-image {
            max-height: 390px;
            overflow: hidden;
            margin-bottom: 25px
        }

        .post-categories {
            margin-top: 30px;
        }

        .content {
            .social-share {
                margin-top: 30px;

                li {
                    display: inline;
                }
            }
        }
    }

    .sidebar {
        .categories {
            h4 {
                margin-top: 50px;
                margin-bottom: 10px;
                line-height: 51.55px;
            }

            .cat-item {
                border-bottom: 1px dotted #e3e3e3;
                line-height: 2.3;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .search-form {

            margin-top: 25px;

            input[type='text'] {
                background: url('/img/search-icon.png') no-repeat 96.5% center;

                &:focus {
                    background: url('/img/search-icon-active.png') no-repeat 96.5% center;
                }
            }
        }

        .categories-dropdown {
            margin-top: 32px;
        }
    }
}