.our-blog {
  margin-top: 123px;

  h2 {
    color: $theme-color-pink;
    line-height: 1;
  }
}

.blog-top {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;

  h1 {
    text-transform: capitalize;
    display: inline;
  }

  .blog-categories {
    margin-top: 13px;
    float: right;
  }

  @media (max-width: $screen-xs) {
    .blog-categories {
      @include make-xs-column(12);

      padding-left: 0;
      float: none;
    }
  }
}

.blog-row {
  margin-top: 30px;
}

.one-post {
  height: 450px;
  border: 1px solid #dfdddd;
  position: relative;

  margin-bottom: 40px;

  -webkit-box-shadow: 0 2px 1px rgba(1, 2, 2, 0.15);
  -moz-box-shadow: 0 2px 1px rgba(1, 2, 2, 0.15);
  box-shadow: 0 2px 1px rgba(1, 2, 2, 0.15);

  .post-img {
    img {
      width: 100%;
      max-height: 180px;
    }
  }

  .post-text {
    padding: 0 25px;
    font-size: 16px;
    line-height: 27.55px;

    h4 {
      font-weight: 400;
    }
  }

  .post-text h4 a {
    color: inherit;

    &:hover {
      color: $theme-color-pink;
    }
  }
}

.post-meta {
  background-color: #f1f1f1;
  font-size: 13px;
  padding: 0 15px;
  height: 65px;

  display: block;
  width: 100%;

  position: absolute;
  bottom: 0;

  #post-date {
    @include vertical-center;
    left: 25px;
    padding-right: 17px;
  }

  #post-category {
    @include vertical-center;
    right: 0;
    padding-left: 17px;
    border-left: 1px solid #d1d1d1;
    display: inline-block;
    width: 60%;

    @media (max-width: $screen-lg) {
      width: 60%;
    }

    @media (max-width: $screen-xs) {
      width: 65%;
    }

    a {
      color: $theme-color-pink;

      &:hover {
        border-bottom: 1px solid $theme-color-pink;
      }
    }
  }
}

.pagination {
  @include clearfix;

  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;

  display: block;
  width: 100%;

  ul {
    margin-top: 10px;
    margin-bottom: 10px;

    font-weight: 600;

    li {
      a {
        color: inherit;
        border-right: 1px solid #cccccc;
        padding-right: 12px;
      }

      &:last-child a { border-right: none; }
      &.active { color: $theme-color-pink; }
    }
  }

  border-radius: 0;
}
