#career-text-overlay {
  p {
    color: #ccc;
    font-size: 23px;
    line-height: 35.55px;
  }
}

.founder-quote {
  padding-top: 32px;
  padding-bottom: 38px;
  background-color: rgb(241, 241, 241);
  text-align: left;

  .quote-text p {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 300;
    line-height: 25.55px;

    &#founder {
      font-size: 16px;
      padding-top: 1em;
    }

    #name {
      font-weight: 600;
    }
  }

  .quote-video {
    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }

  #founder-video {
    position: relative;

    img {
      width: 250px;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      filter: gray;
      -webkit-filter: grayscale(1);
    }

    span {
      width: 48px;
      height: 48px;
      background: url('/img/play-arrow.png') no-repeat;
      position: absolute;
      right: 40%;
      top: -25%;
    }
  }
}

.career-values {
  margin-top: 42px;
  margin-bottom: 42px;
  background-color: rgb(255,255,255);

  a {
    color: #d22341;
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    text-align: right;
    font-size: 35px;

    @media (max-width: $screen-sm) {
      text-align: left;
      font-size: 30px;
      line-height: 35.51px;
    }
  }

  .why-work-here {
    margin-left: 32px;
  }

}

.career-images {
  background-color: black;
  width: 100%;

  article {
    padding: 0;

    img {
      height: 395px;
      width: 100%;
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);
    }
  }

  .work-with-us {
    color: white;
    background-color: $theme-color-pink;
    height: 395px;
    padding: 60px 40px 40px;
    text-align: center;

    #still-thinking-text {
      font-size: 20px;
      font-weight: lighter;
      line-height: 27.55px;
    }
  }
}

.career-openings {
  padding-top: 28px;
  padding-bottom: 55px;
  background-color: $grey-bg;

  h1 {
    text-align: center;
    padding-bottom: 45px;
  }

  a {
    display: inline-block;
    height: 100%;
  }

  .career-positions-container {
    .position-box-container {
      padding-bottom: 20px;
      @media (min-width: $screen-xs) {
        float: none;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .career-position {
    background-color: white;
    text-align: left;
    padding: 0 20px;
    min-height: 250px;
    .button {
      margin-top: 10px;
    }
    @media (max-width: $screen-xs) {
      margin-left: 1em;
    }
    .position-name {
      display: inline-block;
      border-bottom: 1px solid transparent;
      line-height: 1;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    p {
      color: #656565;
    }
    a:focus { outline: none; }
  }
}

// CAREER-DETAILS PAGE //

.current-openings-dropdown {
  margin-top: 22px;

  @media (max-width: $screen-sm) {
    margin-top: 142px;
  }

  button {
    width: 180px;
    text-align: left;
  }

  .dropdown-label {
    display: inline-block;
    color: #999;
  }

  .dropdown { margin-left: 10px; }
}

.career-details {
  margin-top: 130px;
  padding-bottom: 100px;
  h4 { color: #000; }

  @media (max-width: $screen-sm) {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.career-details-content {
  color: #000;

  @media (max-width: $screen-xs) {
    .position-title { font-size: 30px; }
  }

  a {
    color: $theme-color-pink;
  }

  ul {
    list-style-image: url('/img/arrow-right-red.png');
    padding-top: 14px;
    margin-left: 12px;
  }
  li {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    &:last-child { border-bottom: none; }
  }
}

.current-openings {
  list-style-type: none;

  li {
    border-bottom: 1px dashed #d4d4d4;
    &:last-child { border-bottom: none; }

    a {
      &:hover { color: $theme-color-pink; }
    }
  }
}

.career-details-sidebar {
  margin-top: 45px;

  @media (max-width: $screen-sm) {
    background-color: #f2f2f2;
    padding: 30px 20px;
  }
}

.career-details-faq {
  list-style-position: inside;

  li { margin-bottom: 20px; }

  p {
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted black;
    &:last-child {
      border-bottom: none;
      margin-bottom: 16px;
      padding-bottom: 0;
    }
  }
}

#read-faq-more {
  color: $theme-color-pink;
  &:hover { text-decoration: underline; }

  &:after {
    margin-left: 10px;
    content: url('/img/arrow-right-red.png');
  }
}

.career-contact {
  h5 {
    margin-top: 0;
    font-weight: 600;
    color: #000;
  }

  a {color: $theme-color-pink;}
}
