#career-text-overlay {
  p {
    color: #ccc;
    font-size: 23px;
    line-height: 35.55px;
  }
}

.founder-quote {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgb(241, 241, 241);
  text-align: left;

  .quote-text p {
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;

    &#founder {
      font-size: 16px;
      padding-top: 1em;
    }

    #name { font-weight: 600; }
  }

  #founder-video {
    postion: relative;

    img {
      width: 250px;
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);
    }

    span {
      width: 64px;
      height: 64px;
      background: url('/img/play-arrow.png') no-repeat;
      position: absolute;
      left: 30%;
      top: 35%;
    }
  }
}

.career-values {
  margin-top: 42px;
  margin-bottom: 42px;
  background-color: rgb(255,255,255);

  h1 {
    text-align: right;
    font-size: 35px;

    @media (max-width: $screen-sm) {
      text-align: left;
      font-size: 30px;
      line-height: 35.51px;
    }
  }

  #company-name {
    color: $theme-color-pink;
  }

  ul {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 1em;
    padding-left: 0;

    li {
      background: url('/img/arrow-right-red.png') left 0.5em no-repeat;
      line-height: 1.5em;
      padding-left: 1.5em;
      padding-right: 1em;
      margin-top: 0.5em;
      font-size: 18px;

      span {
        display: inline-block;
        padding-bottom: 0.5em;
        border-bottom: 2px solid #eee;
      }

      &:last-child span {
        border-bottom: none;
      }
    }
  }
}

.career-images {
  background-color: black;
  article {
    padding: 0;

    img {
      height: 394px;
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);
    }

    &:nth-child(2) {
      color: white;
      background-color: $theme-color-pink;
      height: 394px;
      padding: 55px 40px;
      text-align: center;

      #still-thinking-heading {
        font-size: 30px;
        line-height: 1;
      }

      #still-thinking-text { 
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}

.career-openings {
  padding-top: 28px;
  padding-bottom: 55px;
  background-color: $grey-bg;

  h1 {
    text-align: center;
    padding-bottom: 45px;
  }

  a {
    display: inline-block;
    height: 100%;
  }

  a:hover {
    span { border-bottom: 1px solid $theme-color-pink; }
    p { color: #333; }
  }

  a:focus { outline: none; }

  .career-position {
    background-color: rgb(241, 240, 240);
    background: url('/img/arrow-right-red.png') #fff center 90% no-repeat;
    text-align: center;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;

    @media (max-width: $screen-xs) {
      margin-left: 1em;
    }

    span {
      display: inline-block;
      border-bottom: 1px solid transparent;
      padding-top: 1em;
      margin-bottom: 25px;
      color: $theme-color-pink;
      font-size: 1.5em;
    }

    p {padding-bottom: 30px;}
  }
}

// CAREER-DETAILS PAGE //

h5 {
  font-weight: 600;
  color: #000;
}

.current-openings-dropdown {
  margin-top: 22px;

  button {
    width: 180px;
    text-align: left;
  }

  .dropdown-label {
    display: inline-block;
    color: #999;
  }

  .dropdown { margin-left: 10px; }
}

.career-details {
  padding-top: 30px;
  padding-bottom: 100px;
  h4 { color: #000; }

  @media (max-width: $screen-sm) {
    padding-bottom: 0;
  }
}

.career-details-content {

  @media (max-width: $screen-xs) {
    .position-title { font-size: 30px; }
  }

  ul {
    list-style-image: url('/img/arrow-right-red.png');
    padding-top: 20px;
    margin-left: 12px;
  }
  li {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    &:last-child { border-bottom: none; }
  }
}

.current-openings {
  list-style-type: none;

  li {
    border-bottom: 1px dashed #d4d4d4;
    &:first-child { font-weight: 600; }
    &:last-child { border-bottom: none; }

    a {
      color: $theme-color-pink;
      &:hover { text-decoration: underline; }
    }
  }
}

.career-details-sidebar {
  margin-top: 45px;

  @media (max-width: $screen-sm) {
    background-color: #f2f2f2;
    padding: 30px 20px;
  }
}

.career-details-faq {
  list-style-position: inside;

  li { margin-bottom: 20px; }

  p {
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted black;
    &:last-child {
      border-bottom: none;
      margin-bottom: 16px;
      padding-bottom: 0;
    }
  }
}

#read-faq-more {
  color: $theme-color-pink;
  &:hover { text-decoration: underline; }

  &:after {
    margin-left: 10px;
    content: url('/img/arrow-right-red.png');
  }
}

.career-contact {
  h5 { margin-top: 0; }
  a {color: $theme-color-pink;}
}

// CAREER FAQ PAGE //
.career-faq {
  margin-top: 22px;
  margin-bottom: 50px;

  @media (max-width: $screen-xs) {
    h1 { font-size: 30px; }
    h2 { font-size: 26px; }
    li { font-size: 24px; }
    p { font-size: 18px; }
  }

  ol {
    margin-left: 30px;
  }

  li {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  p {
    border-bottom: 1px dotted #e3e3e3;
    font-size: 16px;
    line-height: 27.55px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .go-to-top {
    color: $theme-color-pink;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      margin-left: 10px;
      content: url('/img/arrow-top-red.png');
    }
  }
}
