#career-text-overlay {
  p {
    color: #ccc;
    font-size: 23px;
    line-height: 35.55px;
  }
}

.founder-quote {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgb(241, 241, 241);
  text-align: left;

  .quote-text p {
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;

    &#founder {
      font-size: 16px;
      padding-top: 1em;
    }

    #name { font-weight: 600; }
  }

  #founder-video {
    postion: relative;

    img {
      width: 250px;
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);
    }

    span {
      width: 64px;
      height: 64px;
      background: url('/img/play-arrow.png') no-repeat;
      position: absolute;
      left: 30%;
      top: 35%;
    }
  }
}

.career-values {
  margin-top: 42px;
  margin-bottom: 42px;
  background-color: rgb(255,255,255);

  h1 {
    text-align: right;
    font-size: 35px;

    @media (max-width: $screen-sm) {
      text-align: left;
      font-size: 30px;
      line-height: 35.51px;
    }
  }

  #company-name {
    color: $theme-color-pink;
  }

  ul {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 1em;
    padding-left: 0;

    li {
      background: url('/img/arrow-right-red.png') left 0.5em no-repeat;
      line-height: 1.5em;
      padding-left: 1.5em;
      padding-right: 1em;
      margin-top: 0.5em;
      font-size: 18px;

      span {
        display: inline-block;
        padding-bottom: 0.5em;
        border-bottom: 2px solid #eee;
      }

      &:last-child span {
        border-bottom: none;
      }
    }
  }
}

.career-images {
  background-color: black;
  article {
    padding: 0;

    img {
      height: 394px;
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);
    }

    &:nth-child(2) {
      color: white;
      background-color: $theme-color-pink;
      height: 394px;
      padding: 55px 40px;
      text-align: center;

      #still-thinking-heading {
        font-size: 30px;
        line-height: 1;
      }

      #still-thinking-text { 
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}

.career-openings {
  padding-top: 28px;
  padding-bottom: 55px;
  background-color: $grey-bg;

  h1 {
    text-align: center;
    padding-bottom: 45px;
  }

  a {
    display: inline-block;
    height: 100%;
  }

  a:hover {
    span { border-bottom: 1px solid $theme-color-pink; }
    p { color: #333; }
  }

  .career-position {
    background-color: rgb(241, 240, 240);
    background: url('/img/arrow-right-red.png') #fff center 90% no-repeat;
    text-align: center;
    margin-right: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;

    @media (max-width: $screen-xs) {
      margin-left: 1em;
    }

    span {
      display: inline-block;
      border-bottom: 1px solid transparent;
      padding-top: 1em;
      margin-bottom: 25px;
      color: $theme-color-pink;
      font-size: 1.5em;
    }

    p {padding-bottom: 30px;}
  }
}

/* career-details page */
article[role="career-details"] {
  background-color: white;
  padding: 1em;

  p {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  section {
    h2 {
      font-weight: 900;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    li {
      background: url('/img/arrow-right-red.png') left 0.5em no-repeat;
      line-height: 1.5em;
      padding-left: 1.5em;
      padding-right: 1em;
      margin-top: 0.5em;
      font-size: 1.5em;
      font-weight: bold;

      span {
        display: inline-block;
        padding-bottom: 0.5em;
        border-bottom: 2px solid #eee;
      }
    }
  }
}

aside[role="career-faq"] {
  ol {
    list-style-position: inside;
    font-family: "Proximanova Semi Bold";
    margin-left: -20px;

    p {
      border-bottom: 1px dotted black;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  a:after {
    position: relative;
    left: 4%;
    content: url('/img/arrow-right-red.png');
  }
}
