#career-text-overlay {
  p {
    color: #ccc;
    font-size: 23px;
    line-height: 35.55px;
  }
}

.careers-page {
  .subtle-heading {
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
  }
  .why-multunus {
    margin-top: 50px;
    .overview-content {
      line-height: 2;
      margin-top: 10px;
      color: #484848;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .community-section {
    background-color: #F4F4F4;
    .image-bg{
      background-image:url('/img/careers-community.jpg');
      -webkit-background-image: url('/img/careers-community.jpg');
      -moz-background-image: url('/img/careers-community.jpg');
      -o-background-image: url('/img/careers-community.jpg');
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
    .overlay-bg{
      height: inherit;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 120px 20px 120px 20px;
      z-index: 99;
      text-align: center;
      h3 {
        margin-top: 5%;
        color: white;
        line-height: 1.8;
        font-weight: 600;
      }
      a {
        &:hover {
          color: white;
        }
      }
    }
    .text-container{
      font-size: 18px;
      width: 85%;
      margin: 100px auto;
      p {
        line-height: 2;
        margin-bottom: 20px;
      }
    }
    .row.no-gutters {
      margin-right: 0;
      margin-left: 0;
    }
    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .life-at-multunus {
    margin-top: 30px;
    .subtle-heading {
      margin-bottom: 0px;
    }
    margin-top: 30px;
    margin-bottom: 70px;
    .resource-links {
      list-style-type: none;
      .resource-link {
        margin-top: 20px;
        img {
          margin-top: 40px;
          margin-left: 15px;
        }
        .content{
          padding-right: 5px;
          h4 {
            margin: 10px 0px 0px 0px;
          }
          p {
            color: #656565;
            margin-top: 10px;
          }
        }
        position: relative;
        background-color: white;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 2px;
        background-clip: padding-box;
        -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
        -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
        box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
      }
    }
  }
  .main-elements {
    .clickable-card {
      text-align: center;
      min-height: 300px;
      padding: 10px 30px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      position: relative;
      h3 {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      p{
        text-align: center;
      }
      .illustration {
        width: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .banner-section-container {
    .main-heading {
      h1 {
        @media (max-width: $screen-xs-max){
          font-size: 26px;
          line-height: 1.4;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
          font-size: 30px;
          line-height: 1.4;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
          font-size: 34px;
          line-height: 1.4;
        }
        @media (min-width: $screen-lg-min) and (max-width: 1406px) {
          font-size: 38px;
          line-height: 1.4;
        }
        @media(min-width: 1406px) and (max-width: 1766px){
          font-size: 40px;
          line-height: 1.4;
        }
        @media(min-width: 1766px) and (max-width: 1906px){
          font-size: 46px;
        }
        @media(min-width: 1906px){
          font-size: 50px;
        }
      }
    }
    #banner-img-container{
      @media (max-width: $screen-xs-max){
          min-height: 274px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
          min-height: 310px;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
          min-height: 370px;
      }
      @media (min-width: $screen-lg-min) and (max-width: 1406px) {
          min-height: 390px;
      }
      @media(min-width: 1406px) and (max-width: 1766px){
          min-height: 490px;
      }
      @media(min-width: 1766px) and (max-width: 1906px){
          min-height: 530px;
      }
      @media(min-width: 1906px){
          min-height: 660px;
      }
    }
  }
}

.founder-quote {
  padding-top: 32px;
  padding-bottom: 38px;
  background-color: rgb(241, 241, 241);
  text-align: left;

  .quote-text p {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 300;
    line-height: 25.55px;

    &#founder {
      font-size: 16px;
      padding-top: 1em;
    }

    #name {
      font-weight: 600;
    }
  }

  .quote-video {
    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }

  #founder-video {
    position: relative;

    img {
      width: 250px;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      filter: gray;
      -webkit-filter: grayscale(1);
    }

    span {
      width: 48px;
      height: 48px;
      background: url('/img/play-arrow.png') no-repeat;
      position: absolute;
      right: 40%;
      top: -25%;
    }
  }
}

.career-values {
  margin-top: 42px;
  margin-bottom: 42px;
  background-color: rgb(255,255,255);

  a {
    color: #d22341;
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    text-align: right;
    font-size: 35px;

    @media (max-width: $screen-sm) {
      text-align: left;
      font-size: 30px;
      line-height: 35.51px;
    }
  }

  .why-work-here {
    margin-left: 32px;
  }

}

.career-images {
  background-color: black;
  width: 100%;

  article {
    padding: 0;

    img {
      height: 395px;
      width: 100%;
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);
    }
  }

  .work-with-us {
    color: white;
    background-color: $theme-color-pink;
    height: 395px;
    padding: 60px 40px 40px;
    text-align: center;

    #still-thinking-text {
      font-size: 20px;
      font-weight: lighter;
      line-height: 27.55px;
    }
  }
}

.career-openings {
  padding-top: 100px;
  padding-bottom: 100px;
  h1 {
    text-align: center;
    padding-bottom: 45px;
  }

  .career-positions-container {
    .position-box-container {
      padding-bottom: 20px;
      @media (min-width: $screen-xs) {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .career-position {
    background-color: white;
    text-align: center;
    padding: 0 20px;
    min-height: 240px;
    position: relative;
    -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
    -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
    box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
    @media (max-width: $screen-xs) {
      margin-left: 1em;
    }
    .button {
      position: absolute;
      bottom: 20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .position-name {
      display: inline-block;
      border-bottom: 1px solid transparent;
      line-height: 1;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    p {
      color: #656565;
    }
    a:focus { outline: none; }
  }
}

// CAREER-DETAILS PAGE //

.current-openings-dropdown {
  margin-top: 22px;

  @media (max-width: $screen-sm) {
    margin-top: 142px;
  }

  button {
    width: 180px;
    text-align: left;
  }

  .dropdown-label {
    display: inline-block;
    color: #999;
  }

  .dropdown { margin-left: 10px; }
}

.career-details {
  margin-top: 130px;
  padding-bottom: 100px;
  h4 { color: #000; }

  @media (max-width: $screen-sm) {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.career-details-content {
  color: #000;

  @media (max-width: $screen-xs) {
    .position-title { font-size: 30px; }
  }

  a {
    color: $theme-color-pink;
  }

  ul {
    list-style-image: url('/img/arrow-right-red.png');
    padding-top: 14px;
    margin-left: 12px;
  }
  li {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    &:last-child { border-bottom: none; }
  }
}

.current-openings {
  list-style-type: none;

  li {
    border-bottom: 1px dashed #d4d4d4;
    &:last-child { border-bottom: none; }

    a {
      &:hover { color: $theme-color-pink; }
    }
  }
}

.career-details-sidebar {
  margin-top: 45px;

  @media (max-width: $screen-sm) {
    background-color: #f2f2f2;
    padding: 30px 20px;
  }
}

.career-details-faq {
  list-style-position: inside;

  li { margin-bottom: 20px; }

  p {
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted black;
    &:last-child {
      border-bottom: none;
      margin-bottom: 16px;
      padding-bottom: 0;
    }
  }
}

#read-faq-more {
  color: $theme-color-pink;
  &:hover { text-decoration: underline; }

  &:after {
    margin-left: 10px;
    content: url('/img/arrow-right-red.png');
  }
}

.career-contact {
  h5 {
    margin-top: 0;
    font-weight: 600;
    color: #000;
  }

  a {color: $theme-color-pink;}
}
