a {
  color: inherit;
  cursor: pointer;

  &:hover {
    color: $theme-color-pink;
  }

  &.colored-link {
    color: $theme-color-pink;

    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin std-btn{
    	margin-top: 1.4vw;
	color: #fff;
        font-weight: lighter;
	display: inline-block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	@media (min-width: 320px){
		font-size: 20px;
		padding: 6px 16px;
  }
	@media (min-width: $screen-xs){
		font-size: 20px;
		padding: 6px 24px;
	}
	@media (min-width : 624px){
		font-size: 20px;
		padding: 6px 24px;
	}
	@media (min-width : $screen-sm){
		font-size: 22px;
		padding: 8px 26px;
	}
	@media (min-width : $screen-md){
		font-size: 24px;
		padding: 10px 28px;
	}
	@media (min-width : $screen-lg){
		font-size: 26px;
		padding: 12px 30px;
	}

  cursor: pointer;
}

.btn-green{
    background: $theme-color-green;
    @include std-btn;
    &:hover {
        background: $theme-color-dark-green;
    }

    span {
	height: 14px;
	width: 11px;
	display: inline-block;
	margin-left: 27px;
	@media (max-width: $screen-xs){
	    margin-left: 8px;
            margin-right: 5px;
	}
	@media (min-width : 624px){
	    margin-left: 12px;
	}
	@media (min-width : $screen-sm){
	    margin-left: 16px;
	}
	@media (min-width : $screen-md){
	    margin-left: 18px;
	}
	@media (min-width : $screen-lg){
	    margin-left: 22px;
	}
    }
}

.btn-red {
    background: $theme-color-pink;
    @include std-btn;
  &:hover {
    background: $theme-color-dark-pink;
  }

	span {
		background: url('/img/down_arrow.png') left center no-repeat;
		height: 14px;
		width: 11px;
		display: inline-block;
		margin-left: 27px;
		@media (max-width: $screen-xs){
			margin-left:14px;
		}
		@media (min-width : 624px){
			margin-left:19px;
		}
		@media (min-width : $screen-sm){
			margin-left:21px;
		}
		@media (min-width : $screen-md){
			margin-left:23px;
		}
		@media (min-width : $screen-lg){
			margin-left: 27px;
		}
	}
}

form {
    input {
        height: 40px;
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555;
        vertical-align: middle;
        border: 1px solid #dfdddd;
        border-radius: 4px;

        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: 0 1px 1px rgba(0,0,0,0.075);

        -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        &:focus {
            outline: 0;
        }
    }
}

.dropdown-container {
  .dropdown-label {
    color: #999;
    float: left;
    min-height: 36px;
    padding: 2px 5px 2px 0;
    margin-right: 8px;
    line-height: 2;
  }
  .dropdown {
    button.dropdown-toggle {
      background: -moz-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.05)), color-stop(100%, rgba(0,0,0,0.05)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%);

      background: url("/img/dropdown-arrow.png") 185px center no-repeat !important;

      -moz-box-shadow: 0px 2px 1px -1px #767676;
      -webkit-box-shadow: 0px 2px 1px -1px #767676;
      box-shadow: 0px 2px 1px -1px #767676;

      min-height: 35px;
      min-width: 212px;
      text-align: left;
      position: relative;

    }

    ul.dropdown-menu {
      margin: 0;
      padding: 0;
      min-width: 212px;

      > li {
        border-bottom: 1px dotted #d1d1d1;
        min-height: 35px;

        &.active {
          > a {
            background: $theme-color-pink;

            &:hover {
              color: #fff;
            }
          }
        }
        &:last-child {
          border-bottom: none;
        }

        > a {
          line-height: 2.1;

          &:hover {
            color: $theme-color-pink;
          }
        }
      }
    }

    &.open {
      button.dropdown-toggle {
        background-color: initial;
      }
    }
  }
}

.button-with-icon {
  color: white;
  display: inline-block;
  background-color: #a80d1e;
  padding: 16px 10px 16px 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  &:hover {
    color: white;
  }

  span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    border-bottom: 1px solid transparent;
  }

  span.underline:hover {
    border-bottom: 1px solid white;
  }

  #reel-icon {
    width: 22px;
    height: 22px;
    background: url('/img/reel-icon-red.png') no-repeat;
  }

  #eye-icon {
    width: 25px;
    height: 14px;
    background: url('/img/eye-icon-red.png') no-repeat;
  }
}

.right-arrow {
  display: inline-block;
  margin-left: 10px;
  width: 14px;
  height: 11px;
  background: url("/img/arrow-right-red.png") no-repeat;
  vertical-align: middle;
}

.visible-ipad {
  @media (max-width: 1024px) {
    display: block !important;
  }

  @media (min-width: 1025px) {
    display: none !important;
  }
}

.hidden-ipad {
  @media (max-width: 1024px) {
    display: none !important;
  }
}
