.btn-red {
	margin-top: 1.4vw;
	background: $theme-color-pink;
	color: #fff;
  font-weight: lighter;
	display: inline-block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	@media (min-width: 320px){
		font-size: 20px;
		padding: 6px 16px;
	}
	@media (min-width: $screen-xs){
		font-size: 20px;
		padding: 6px 24px;
	}
	@media (min-width : 624px){
		font-size: 20px;
		padding: 6px 24px;
	}
	@media (min-width : $screen-sm){
		font-size: 22px;
		padding: 8px 26px;
	}
	@media (min-width : $screen-md){
		font-size: 24px;
		padding: 10px 28px;
	}
	@media (min-width : $screen-lg){
		font-size: 26px;
		padding: 12px 30px;
	}
	cursor: pointer;
  &:hover {
    background: $theme-color-dark-pink;
  }

	span{
		background: url('/img/down_arrow.png') left center no-repeat;
		height: 14px;
		width: 11px;
		display: inline-block;
		margin-left: 27px;
		@media (max-width: $screen-xs){
			margin-left:14px;
		}
		@media (min-width : 624px){
			margin-left:19px;
		}
		@media (min-width : $screen-sm){
			margin-left:21px;
		}
		@media (min-width : $screen-md){
			margin-left:23px;
		}
		@media (min-width : $screen-lg){
			margin-left: 27px;
		}
	}
}

form {
    input {
        height: 40px;
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555;
        vertical-align: middle;
        border: 1px solid #dfdddd;
        border-radius: 4px;

        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: 0 1px 1px rgba(0,0,0,0.075);

        -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        &:focus {
            outline: 0;
        }
    }
}

.dropdown-container {
    .dropdown-label {
        color: #999;
        float: left;
        min-height: 36px;
        padding: 2px 5px;
        margin-right: 8px;
        line-height: 2;
    }
    .dropdown {
      button.dropdown-toggle {
        background: -moz-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.05)), color-stop(100%, rgba(0,0,0,0.05)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%);

        background: url("/img/dropdown-arrow.png") 185px center no-repeat !important;

        -moz-box-shadow: 0px 2px 1px -1px #767676;
        -webkit-box-shadow: 0px 2px 1px -1px #767676;
        box-shadow: 0px 2px 1px -1px #767676;

        min-height: 35px;
        min-width: 212px;
        text-align: left;
        position: relative;

      }

      ul.dropdown-menu {
        margin: 0;
        padding: 0;
        min-width: 212px;

        > li {
          border-bottom: 1px dotted #d1d1d1;
          min-height: 35px;

          &.active {
            > a {
                background: $theme-color-pink;
            }
          }
          &:last-child {
            border-bottom: none;
          }

          > a {
            line-height: 2.1;
          }
        }
      }

      &.open {
        button.dropdown-toggle {
          background-color: initial;
        }
      }
    }
}
