.btn-red {
	margin-top: 1.4vw;
	background: $theme-color-pink;
	color: #fff;
  text-transform: capitalize;
	display: inline-block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;	
	border-radius: 6px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	@media (min-width: 320px){
		font-size: 20px;
		padding: 6px 16px;
	}
	@media (min-width: $screen-xs){
		font-size: 20px;
		padding: 6px 24px;
	}
	@media (min-width : 624px){
		font-size: 20px;
		padding: 6px 24px;
	}
	@media (min-width : $screen-sm){
		font-size: 22px;
		padding: 8px 26px;
	}
	@media (min-width : $screen-md){
		font-size: 24px;
		padding: 10px 28px;
	}
	@media (min-width : $screen-lg){
		font-size: 26px;
		padding: 12px 30px;
	}

  &:hover {
    background: $theme-color-dark-pink;
  }

	span{
		background: url('/img/down_arrow.png') left center no-repeat;
		height: 14px;
		width: 11px;
		display: inline-block;
		margin-left: 27px;
		@media (max-width: $screen-xs){
			margin-left:14px;
		}
		@media (min-width : 624px){
			margin-left:19px;
		}
		@media (min-width : $screen-sm){
			margin-left:21px;
		}
		@media (min-width : $screen-md){
			margin-left:23px;
		}
		@media (min-width : $screen-lg){
			margin-left: 27px;
		}
	}
}
