#community {

  #community-love {
    h1 { font-size: 4rem; }
  }

  .heart {
    width: 50px;
  }
}

section#community-links {
  padding-top: 0;
  position: relative;

  h3 a {
    color: $theme-color-pink;

    &:hover {
      border-bottom: 1px solid;
    }
  }

  h6 a {
    color: $theme-color-pink;

    &:hover {
      border-bottom: 1px solid;
    }    
  }

  .italics {
    font-style: italic;
    color: #656565;
  }

  .link-box {
    border-right: 1px solid #dfdddd;
    min-height: 380px;
    padding: 0 40px;

    @media (max-width: $screen-sm) {
      border-right: none;
      padding: 30px 40px;
      min-height: 0;
    }

    p {
      color: #787878;
    }

    h3 {
      font-weight: 500;
      text-align: center;
      margin: 0;
    }

    h6 {
      font-size:13px;
      text-align: center;
      margin: 0;
    }

    &:last-child {
      border: none;
    }

    .post-title, .eventon_list_event {
      background: url("/img/arrow-right-red.png") left 1em no-repeat;
      padding: 10px 0 0 30px;

      a {
        display: inline-block;
        border-bottom: 1px dotted #d4d4d4;
        padding-bottom: 10px;
        width: 100%;
        .community-meta-data{
          font-size:13px;
          color: #999;
          text-transform: uppercase;
          font-size: 10px;
          margin-top: -2px;
          display: block;
        }
      }
    }

    .post-title.blog:last-of-type, .post-title.open-source:last-of-type {
      a {
        border-bottom: none;
      }
    }

    .view-all-link {
      position: absolute;
      bottom: 0;
      margin-left: -40px;
      color: $theme-color-pink;
      width: 100%;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #eventon_loadbar_section {
    display: none;
  }

  .eventon_events_list {
    border: none !important;

    .eventon_list_event .desc_trig {
      border: none !important;
      background: white;
      padding: 0;
      min-height: initial;
      display: inline-block;
      border-bottom: 1px dotted #d4d4d4 !important;
      padding-bottom: 10px;
      width: 100%;

      &:hover span.evcal_event_title {
        color: $theme-color-pink;
      }
    }

    .eventon_list_event:last-child .desc_trig {
      border-bottom: none !important;
    }

    .evcal_cblock {
      display: none;
    }

    .evcal_desc {
      padding-left: 0;
      margin-left: 0;

      span.evcal_event_title {
        color: #333;
        font-size: 16px;
        text-transform: none;
        font-family: $font-family-sans-serif;
      }

      .evcal_desc_info, .evcal_desc3 {
        display: none;
      }
    }
  }
}

.evo_day:before {
  content: '/ ';
}



section#video {
  iframe {
    width: 560px;
    height: 315px;

    @media (max-width: $screen-sm) {
      width: 300px;
      height: 207px;
    }
  }
}

.evcal_list_a desc_trig:hover {
  border-left-width: initial;
}

.evcal_evdata_icons {
  .fa-calendar, .fa-link {
    margin-top:5px;
  }
}


