.get-in-touch {
  h1 {
    margin-top: 50px;
    margin-bottom: 35px;
  }

  h5 {
    margin-bottom: 0;
  }

  a {
    color: $theme-color-pink;
  }
}

.multunus-gmap {
  position: relative;
  background: -webkit-linear-gradient(90deg, lightgrey, rgba(255,255,255,0) 10%) no-repeat;
  background: linear-gradient(0deg, lightgrey, rgba(255,255,255,0) 10%) no-repeat;

  #map {
    height: 600px;
    z-index: -2;
  }

  #map-content {
    text-align: center;

    h3 {
      color: $theme-color-pink;
      margin-top: 0;
    }
  }
}

.form-container {
  padding: 30px;
  background-color: #fff;
  position: absolute;
  width: 380px;
  bottom: 0;
  left: 20%;

  @media (min-width: $screen-xs) {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: -webkit-linear-gradient(90deg, #d3d3d3, white 10%) no-repeat;
    background: linear-gradient(0deg, #d3d3d3, white 10%) no-repeat;
  }

  @media (max-width: $screen-xs) {
    position: static;
    background-color: #f2f2f2;
    border-top: 1px solid #cfcccb;
    width: 100%;
  }

  .notification {
    margin-bottom: 10px;
  }

  h2 {
    color: #000;
    margin-top: 0;
  }

  form {
    height: 100%;

    p {
      margin-bottom: 0;
    }

    label {
      font-weight: 600;

      span {
        color: $theme-color-pink;
        margin-left: 5px;
      }
    }

    textarea {
      padding: 6px 12px;
      width: 100%;
      outline: none;
      resize: none;
      border: 1px solid #dfdddd;
      border-radius: 4px;
    }

    input[type="submit"] {
      background: $theme-color-pink url('/img/arrow-right.png') no-repeat 85%;
      color: white;
      text-align: left;
      padding-left: 20px;
      font-size: 20px;
      font-weight: 300;
      width: 40%;
      height: 55px;

      &:hover {
        background-color: $theme-color-dark-pink;
      }
    }
  }
}

.latest-tweet-section {
  margin-top: 40px;
  margin-bottom: 80px;

  .latest-tweets {
    margin-bottom: 20px;

    ul {
      list-style-type: none;
      width: 60%;
      margin: 0 auto;

      @media (max-width: $screen-xs) {
        width: 100%;
      }
    }

    a {
      color: $theme-color-pink;
    }
  }
}

