.contact-us-section {
  margin-top: 50px;
  .email-link {
    text-decoration: underline;
    color: $theme-color-pink;
  }
  .type-form-container {
      margin-top: 30px;
      #contact-typeform {
        display: inline-block;
        width: 100%;
        min-height: 500px;
        margin-top: 20px;
        border: 0;
        -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
        -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
        box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
    }
  }
  .clickable-card {
    margin-top: 30px;
    .google-maps-container {
      margin-top: 30px;
    }
    .office-address-container {
      margin-top: 30px;
      margin-left: 30px;
    }
  }
  .email-addresses {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    .email-group {
      text-align: center;
      .email-category {
        margin-bottom: 0;
      }
      .email-address {
        text-decoration: underline;
        color: $theme-color-pink;
      }
    }
  }
}


