#continuous-delivery, #community {
  margin-top: 108px;
  margin-bottom: 60px;
  position: relative;

  .dotted-arrow {
    position: absolute;
    right: -75px;
    top: 90px;

    img {
      height: 660px;
    }
  }

  .heart {
    width: 40px;
  }

  section {
    padding: 30px 0;

    @media (max-width: $screen-sm) {
      padding: 30px 0;
    }
  }

  section#title {
    position: relative;
    font-size: 42px;
    font-weight: 600;

    > div:first-child {
      margin-bottom: 10px;
    }

    #working, #caret {
      position: absolute;
    }

    .separator {
      display: inline-block;
      position: relative;

      @media (max-width: $screen-sm) {
        display: none;
      }
    }

    #working {
      width: 100px;
      left: -40px;
      top: -65px;
    }

    #caret {
      width: 25px;
      left: -10px;
      bottom: -15px;
    }
  }

  section#links {
    a {
      color: $theme-color-pink;

      &:hover {
        border-bottom: 1px solid;
      }
    }

    .link-box {
      border-right: 1px solid #dfdddd;
      min-height: 180px;
      padding: 0 40px;

      @media (max-width: $screen-sm) {
        border-right: none;
        border-bottom: 1px solid #dfdddd;
        padding: 30px 40px;
      }

      p, ul {
        color: #787878;
      }

      h3 {
        font-weight: 500;
        text-align: center;
        margin: 0;
      }

      ul.events {
        padding-left: 0;
        list-style: none;

        li {
          margin-bottom: 10px;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: left center;

          &#android {
            background-image: url("/img/continuous-delivery/android.png");
            & > .name {
              color: #698b3b;
            }
          }

          &#rails {
            background-image: url("/img/continuous-delivery/rails.png");
            & > .name {
              color: #b22a3c;
            }
          }
        }

        .name, .place {
          line-height: 1.4;
          padding-left: 40px;
        }

        .name {
          font-weight: 500;
        }
      }

      &:last-child {
        border: none;
      }
    }
  }

  section#platforms {
    h5 {
      margin-bottom: 30px;
    }

    img {
      width: 300px;
    }
  }
}
