#continuous-delivery, #community {
  margin-top: 108px;
  margin-bottom: 60px;
  position: relative;

  .dotted-arrow {
    position: absolute;
    right: -120px;
    top: 150px;
  }

  .heart {
    width: 40px;
  }

  section {
    padding: 30px 0;

    @media (max-width: $screen-sm) {
      padding: 30px 0;
    }
  }

  section#title {
    position: relative;
    font-size: 42px;
    font-weight: 600;

    > div:first-child {
      margin-bottom: 10px;
    }

    #working, #caret {
      position: absolute;
    }

    .separator {
      display: inline-block;
      position: relative;

      @media (max-width: $screen-sm) {
        display: none;
      }
    }

    #working {
      width: 100px;
      left: -40px;
      top: -65px;
    }

    #caret {
      width: 25px;
      left: -10px;
      bottom: -15px;
    }
  }

  section#platforms {
    h5 {
      margin-bottom: 30px;
    }

    img {
      width: 300px;
    }
  }
}
