.navbar-default {
  margin-bottom: 0;
}

.navbar-default {
  .navbar-nav > .active > a {
    color: white;
    background-color: transparent;
    &:focus, &:hover {
      color: white;
      background-color: transparent;
    }
  }
  background-color: #191919;
  border-color: #191919;
  border-radius: 0;
}

.breadcrumbs {
  padding: 11px 62px;
  min-height: 46px;
  border-bottom: 1px solid #f1f1f1;
  background-color: rgba(255, 255, 255, 0.49);
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 62px;

  @media (max-width: $screen-md) {
    padding: 11px 15px;
  }

  a {
    color: #333;

    &:hover {
      @include border-bottom-pink;
    }
  }
}
