.navbar {
  background: $navbar-default-bg;
  border-bottom: none;
  margin-bottom: 0;
  height: 62px;

  .navbar-header {
    .navbar-brand {
      padding: 0;
      margin-right: 12px;

      background-color: $theme-header-color;

      .logo-container {
        background: url("/img/header-logo.png") 9px center no-repeat;
        width: 220px;
        height: 62px;
        max-width: 52px;
        margin-left: 8px;
        margin-right: 15px;
        transition: max-width 0.5s ease-in-out;

        &:hover{
          max-width: 188px;
          margin-right: 14px;
          }

          @media (max-width: $screen-md) {
          max-width: 188px;
          margin-right: 14px;
          }
      }
  }

  .navbar-toggle {
    outline: none;

    &.collapsed .icon-bar {
      background: white;
      }

      &:hover .icon-bar {
        background: $theme-color-pink;
      }
  }
}

.navbar-collapse {
  border: none;
  max-height: none;

  .navbar-nav {
    @media (max-width: $screen-md) {
      margin-bottom: 0px;
      margin-top: 0px;
    }

    > li {
      background: url("/img/header-nav-divider.png") right 45% no-repeat;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.5px;
      height: 64px;
      padding: 0 9px 0 0px;

      @media (max-width: $screen-md) {
        height: 42px;
        border-bottom: 2px solid #323232;
        background: #202020 url("/img/arrow-right-navbar.png") 18px center no-repeat;
      }

      &:hover, &.active {
        > a {
          color: $theme-color-pink;
          background-color: initial;
        }
      }

      &.active {
        > a span {
          border-top: 4px solid $theme-header-color;
          @media (max-width: $screen-md) {
            border-top: none;
          }
        }
      }

      &:first-child {
        @media (max-width: $screen-md) {
          border-top: 2px solid #323232;
        }
      }

      &:last-child {
        background: none;

        @media (max-width: $screen-md) {
          background: #202020 url("/img/arrow-right-navbar.png") 18px center no-repeat;
        }
      }

      > a {
        color: white;
        padding: 0 12px 0 12px;
        @media (max-width: $screen-md) {
          margin-left: 32px;
        }

        span {
          display: inline-block;
          padding-top: 17px;
          border-top: 4px solid transparent;

          @media (max-width: $screen-md) {
            padding-top: 10px;
            border-top: 0;
          }
        }
      }
    }
  }

  .blinker {
    letter-spacing: 1px;

    @media (max-width: $screen-md) {
      display: none !important;
    }

    .tagline, .contact-no {
      margin-top: 19px;
      margin-right: 26px;
      font-size: 15px;
      position: absolute;
      right: 0px;
      opacity: 0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;

      &.active {
        opacity: 1;
      }

      &:hover {
        cursor: none;
      }

      .text-white {
        color: white;
      }

      .text-pink {
        color: #cc2d48;
      }
    }

    .contact-no a {
      padding: 5px 8px;
    }
  }
}
}

.breadcrumbs {
  padding: 11px 62px;
  min-height: 46px;
  border-bottom: 1px solid #afacac;
  background-color: rgba(255, 255, 255, 0.49);
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 62px;

  @media (max-width: $screen-md) {
    padding: 11px 15px;
  }

  a {
    color: #333;

    &:hover {
      @include border-bottom-pink;
    }
  }
}
