.navbar {
  background: $navbar-default-bg;
  font-weight: normal;

  .navbar-header {
    .navbar-brand {
      padding: 5px;
      margin-right: 14px;

      background: $theme-color-pink;

      .logo {
        margin: 0 5px 0 8px;
      }

      .logo-container {
        background: url("/img/header-logo.png") 9px center no-repeat;
        background-size: auto 36px;
        width: 174px;
        height: 40px;
        max-width: 52px;
        -webkit-transition: max-width 0.5s ease-in-out;
        -moz-transition: max-width 0.5s ease-in-out;
        -o-transition: max-width 0.5s ease-in-out;
        transition: max-width 0.5s ease-in-out;

        &:hover{
          max-width: 174px;
          }

          @media (max-width: $screen-sm) {
            max-width: 174px;
          }
      }
  }

  .navbar-toggle {
    outline: none;

    &.collapsed .icon-bar {
      background: white;
      }

      &:hover .icon-bar {
        background: $theme-color-pink;
      }
  }
}

.navbar-collapse {
  border: none;

  .navbar-nav {
    @media (max-width: $screen-sm) {
      margin-bottom: 0px;
      margin-top: 0px;
    }

    > li {
      background: url("/img/header-nav-divider.png") right center no-repeat;
      text-transform: uppercase;
      padding: 0 9px 0 0px;

      @media (max-width: $screen-sm) {
        background: none;
        border-bottom: 1px solid;
        background: url("/img/arrow-right-grey.png") 18px center no-repeat;
      }

      &:hover, &.active {
        > a {
          color: $theme-color-pink;
          background-color: initial;
        }
      }

      &.active {
        > a span {
          border-top: 4px solid $theme-color-pink;
          @media (max-width: $screen-sm) {
            border-top: none;
          }
        }
      }

      &:last-child {
        @media (max-width: $screen-sm) {
          background: url("/img/arrow-right-grey.png") 18px center no-repeat;
        }
        background: none;
      }

      > a {
        color: white;
        @media (max-width: $screen-sm) {
          margin-left: 32px;
        }

        span {
          padding-top: 11px;
        }

      }
    }
  }

  .blinker {
    @media (max-width: $screen-sm) {
      display: none !important;
    }

    .tagline, .contact-no {
      margin-right: 15px;
      font-size: 15px;
      position: absolute;
      right: 0px;
      opacity: 0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;

      &.active {
        opacity: 1;
      }

      &:hover {
        cursor: none;
      }

      .text-white {
        color: white;
      }

      .text-pink {
        color: #cc2d48;
      }
    }
  }
}
}

.breadcrumbs {
  padding: 11px 62px;
  height: 46px;
  border-bottom: 1px solid #afacac;

  @media (max-width: $screen-sm) {
    padding: 11px 15px;
  }

  a {
    color: #333;

    &:hover {
      border-bottom: 1px dashed $theme-color-pink;
      color: $theme-color-pink;
    }
  }
}
