.hiring-campaign {
  margin-top: 108px;

  .campaign {
    background-color: rgba(189, 31, 58, 1);
    height: 500px;
    position: relative;

    #Stage {
      min-width: 70% !important;
      width: 70% !important;
      margin: 0 auto;

      @media (max-width: 1100px) {
        min-width: 100% !important;
        width: 100% !important;
      }
    }

    .something {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      color: white;
      text-align: center;

      a:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .content-section {
    .post:nth-child(2n+1) {
      .video-summary {
        @include make-md-column-pull(6);
      }

      .video-container {
        @include make-md-column-push(6);
      }
    }
  }

  .video-container {
    @media (max-width: $screen-sm) {
      text-align: center;
      padding-top: 0;
    }

    iframe {
      width: 460px;
      height: 280px;

      @media (max-width: $screen-sm) {
        width: 338px;
        height: 207px;
      }
    }
  }
}
