.home-page {
  .banner-section-container {
    position: relative;
  }
  .main-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-weight: 600;
    }
    h5 {
      color: white;
      opacity: 0.6;
      margin-top: 0;
    }
  }
  .section-heading {
    margin-bottom: 30px;
  }
  article{
      &.tagline-container{
          background-color: #f1f1f1;
          h2{
              @media(max-width: $screen-sm-max){
                  font-size: 24px;
              }
              font-style: italic;
              margin: 0 auto;
          }
          padding: 20px 0 20px 0;
          border-bottom: 1px solid #E4E4E4;
      }
      &.why-us-image-section{
          @media (min-width: $screen-md-min) {
              margin: 60px 0 60px 0;
          }
          .big-picture-list {
              padding-top: 60px;
              @media (max-width: $screen-sm) {
                  padding-top: 10px;
              }

              @media (max-width: $screen-xs) {
                  padding-top: 0;
              }

              li {
                  display: block;
                  font-size: 30px;
                  line-height: 1.5;
              }
          }
      }
  }

  /* OUR SERVICES */

  .our-services {
    background-color: $grey-bg;
    padding-top: 40px;
    padding-bottom: 108px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;

    h1 { margin-bottom: 60px; }

    .service-item {
      text-align: center;
      p {
          min-height: 75px;
        }
      img {
        @include img-center;
        height: 63px;
      }

      a {
        font-size: 18px;
        color: $theme-color-pink;

          &:hover {
          @include border-bottom-pink;
        }
      }
    }

    @media (max-width: $screen-md) {
      padding-bottom: 0;

      .service-item {
        margin-bottom: 65px;
      }

      .service-item:last-child a{
        margin-bottom: 60px;
      }
    }
      .every_2_days {
        text-align: center;
        padding: 14px 0 14px 0;
        margin-top: 74px;
        max-width: 855px;
        background-color: #f6f6f6;
        p {
            font-size: 18px;
            margin: 0;
        }
      }
  }


  /* RECENT WORK */

  .recent-work {
    padding-top: 55px;
    padding-bottom: 55px;

    img.recent-client-img {
      display: block;
      max-height: 520px;
      width: 600px;
      margin: 0 auto;
    }

    p.heading {
      font-size: 42px;
      font-weight: 100;
      line-height: 49.55px;
      margin-bottom: 60px;
    }

    .recent-client-text {

      h2 {
        color: $theme-color-pink;
        border-bottom: 1px dotted #d4d4d4;
      }

      p {
        padding-top: 5px;
        padding-bottom: 15px;
        border-bottom: 1px dotted #d4d4d4;
      }

      a {
        color: $theme-color-pink;
        border-bottom: 1px solid transparent;

        &.view-work {
          display: inline-block;
          margin-top: 10px;

          &:hover {
            border-bottom: 1px solid $theme-color-pink;
          }
        }

        &.red-btn {
          display: block;
          width: 140px;
          background-color: $theme-color-pink;
          color: white;
          font-size: 22px;
          font-weight: 100;
          margin-top: 55px;
          padding: 15px 15px 15px 25px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;

          &:after {
            content: url('/img/arrow-right.png') no-repeat;
            margin-left: 15px
          }

          @media (min-width: $screen-md) {
            &:hover {
              background-color: $theme-color-dark-pink;
            }
          }
        }
      }

    }
  }

  @media (max-width: $screen-md) {
    .recent-work {
      .recent-client-text {
        text-align: center;
        margin: 0 40px;
        padding-top: 20px;

          a.red-btn {
            margin: 20px auto 63px;;
          }
      }

    }
  }

  /* CUSTOMER STORIES */
  .customer-stories-section {
    padding-top: 50px;
    padding-bottom: 50px;
    .nav-tabs {
      border-bottom: 0;
      li.active img {
        border: 1px solid #BD1F3A;
      }
    }
    .nav-tabs > li {
      padding: 20px;
      margin-bottom: 1px;
      text-align: center;
      a {
        border: none;
        padding: 0;

        &:hover {
          border-color: white;
        }
      }

      &.active::after {
        content: url('/img/tab_wedge.png') no-repeat;
        position: absolute;
        bottom: -33px;
        margin-left: -20px;
      }

      &.active a {
        border: none;
      }

      img {
        max-width: 100%;
      }
    }

    .tab-pane {
      @media (max-width: $screen-sm) {
        display: block !important;
        opacity: 1 !important;
      }

      .title {
        line-height: 1.4em;
      }

      .logo-container {
        padding: 0;
        text-align: center;
        @media (max-width: $screen-sm) {
          margin-bottom: 30px;
          width: 100%;
        }
        img {
          height: 100px;
        }
      }

      .story-snippet-container {
          padding-top: 10px;
          padding-bottom: 10px;

          @media (max-width: $screen-sm) {
            margin: 10px;
            border: 1px solid #ddd;
          }
      }

      .story-snippet {
        color: #747474;
        margin-top: 20px;
      }

      .read-more-link {
        &:after {
          content: url('/img/arrow-right-red.png') no-repeat;
          padding-left: 5px;
        }

        &:hover {
          border-bottom: 1px solid;
        }
      }

      figure {
        padding: 20px 0;
        height: 60px;
        width: 60px;
      }
    }

    .quote-banner {
      background: $theme-color-pink;
      color: white;
      padding: 20px 0;

      .no-float {
        float: none;
        display: inline-block;
      }

      .author-image-container, .right-section {
        display: inline-block;
        vertical-align: middle;
        padding: 0 20px;
      }

      .author-image-container { width: 20%; }
      .right-section { width: 79.5%; }

      .quote {
        font-size: 1.4em;
        margin-bottom: 10px;
      }

      .author {
        color: white;
      }
    }
  }

  /* OUR CLIENTS */
  .our-clients {
    background: url('/img/testimonial-background.png') repeat-x, #e4e4e4;
    background-size: auto 100%;
    padding: 50px 0 78px 0;
    color: white;
    text-align: center;

    .row {
      position: relative;
    }

    p.heading {
      font-size: 42px;
      font-weight: lighter;
    }

    @media (max-width: $screen-xs) {
      p.heading {
        font-size: 30px;
      }
    }

    h3 {
      margin-bottom: 0;
      line-height: 35.55px;
    }

    h4 {
      font-size: 16px;
      line-height: 25.55px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .slider {
      margin-top: 100px;
      display: inline-block;
      width: 46px;
      height: 46px;
      cursor: pointer;
      position: absolute;
      top: 3%;

      a {
        width: 100%;
        height: 100%;
      }
    }

    #left-slider {
      background: url('/img/arrow-slider-left-normal.png') no-repeat;
      left: 10%;;
      z-index: 30;

      &:hover {
        background: url('/img/arrow-slider-left-hover.png') no-repeat;
      }

      @media (min-width: $screen-xxs) and (max-width: $screen-xs) {
        background-size: 35px;
        top: 4%;
        left: 8%;

        &:hover {
          background-size: 35px;
        }
      }

      @media (max-width: $screen-xxs) {
        top: 9%;
      }

    }

    #right-slider {
      background: url('/img/arrow-slider-right-normal.png') no-repeat;
      right: 10%;;
      z-index: 30;

      &:hover {
        background: url('/img/arrow-slider-right-hover.png') no-repeat;
      }

      @media (min-width: $screen-xxs) and (max-width: $screen-xs) {
        background-size: 35px;
        top: 4%;
        right: 5%;;

        &:hover {
          background-size: 35px;
        }
      }

      @media (max-width: $screen-xxs) {
        top: 9%;
      }

    }

    .our-customer-img {
      margin-top: 60px;

      .carousel-inner {
        height: 410px;

        @media (max-width: $screen-xs) {
          height: 425px;
        }
      }

      .carousel-caption .client-testimonial {
          width: 50%;
          margin: 0 auto;

        @media (max-width: $screen-sm) {
          width: 100%;
          height: 60px;
        }

        @media (max-width: $screen-xs) {
          height: 70px;
        }
      }

      img {
        display: block;
        margin: 0 auto;
        width: 107px;
      }
    }

    .our-customer-btn {
        margin-top: 35px;

      a.button-with-icon {
        margin-top: 5px;

        @media (max-width: $screen-xxs) {
          display: block;
          width: 80%;
          margin: 0 auto 10px;
        }
      }
    }
  }

  @media (max-width: $screen-sm) {
    .our-clients {
      h4 {
        font-size: 16px;
      }
    }
  }

  // bootstrap classes overrides
  .carousel-control.left, .carousel-control.right {
    background-image: none;
  }

  .carousel-control.right {
    left: 0;
  }

  .carousel-caption {
    position: static;
    padding-top: 0;
  }

}

.services-section {
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .services {
    margin-top: 10px;
    .clickable-card {
      min-height: 280px;
      padding: 10px 30px;
      cursor: pointer;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      position: relative;
      &:hover {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04);
        -webkit-box-shadow: 0 2px 84px 0 rgba(208,208,208,0.9);
        -moz-box-shadow: 0 2px 84px 0 rgba(208,208,208,0.9);
        box-shadow: 0 2px 84px 0 rgba(208,208,208,0.9);
      }
      a {
        text-decoration:none;
        color: #333;
        &:hover, &:active, &:visited {
          color: #333;
          text-decoration:none;
        }
      }
    }
  }
}

.big-picture {
  .meta {
    margin-top: 100px;
    a {
      text-decoration: underline;
      color: #BD1F3A;
    }
  }
  h1 {
    margin-top: 50px;
  }
}

.craftmanship {
  h1 {
    margin-top: 50px;
  }
  h4 {
    margin-bottom: 20px;
  }
  .meta p {
    text-align: justify;
    line-height: 2;
  }
  .image-container {
    width: 100%;
    min-height: 440px;
    background-image: url('/img/craftmanship.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.community{
  .container, .open-source-section, .blog-section, .talks-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .talks-section {
    .talks {
      margin-top: 30px;
    }
  }
  .heart {
    width: 30px;
  }
  .resource-links {
    list-style-type: none;
    .resource-link {
      margin-top: 10px;
      h4 {
        margin: 10px 0px 0px 20px;
      }
      p {
        margin-left: 20px;
        color: #656565;
      }
      position: relative;
      background-color: white;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 2px;
      background-clip: padding-box;
      cursor: pointer;
      -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
      -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
      box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
      &:hover {
        -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.9);
        -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.9);
        box-shadow: 0 2px 64px 0 rgba(208,208,208,0.9);
      }
      a {
        text-decoration:none;
        color: #333;
        &:hover, &:active, &:visited {
          color: #333;
          text-decoration:none;
        }
      }
    }
  }
}

.slider {
  height: 350px;
  width: auto;
  margin: 30px 50px 50px;
}

.slick-slide {
  background: #F4F4F4;
  color: white;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
  img {
    display: inline-block;
  }
}

.slick-dots {
  top: -100px;
  padding: 10px;
  li {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.carousel-left, .carousel-right {
  margin-top: 150px;
  height: 50px;
  weight: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 0px 50px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 0px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 50px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.repo-card {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  border-radius: 2px;
  &:hover {
    -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.9);
    -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.9);
    box-shadow: 0 2px 64px 0 rgba(208,208,208,0.9);
  }
  p {
    line-height: 1.4;
  }
}

.repo-info {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 20px;
  color: #656565;
}

.repo-title {
  display: inline-block;
  color: black;
  margin-bottom: 5px;
}

.repo-stats-group {
  padding: 8px;
  text-align: center;
  &:last-of-type {
    border-top: 1px solid #B3B3B3;
  }
}

.repo-stats {
  border-left: 1px solid #B3B3B3;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.repo-stats-title {
  color: #656565;
  margin-bottom: 0;
  margin-top: 0;
}

.repo-stat {
  color: black;
  margin-bottom: 0;
  margin-top: 0;
  &:hover {
    color: #232323;
    text-decoration: none;
  }
}
