.banner-section-container {
    position: relative;
    margin-top: 60px;
    width: 100%;
    overflow: hidden;
    
    #banner-img-container{
        position: relative;
        width: 100%;
        height: auto !important;
        z-index: 998;
        margin: 0 0 0 0; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover !important;
        background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat no-repeat;
        background-image: url('/img/bidPress_gb_full@2x-min.png');
        height: 400px;

        @media (max-width: $screen-xs-max){
            min-height: 424px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            min-height: 460px;
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
            min-height: 520px;
        }
        @media (min-width: $screen-lg-min) and (max-width: 1406px) {
            min-height: 540px;
        }
        @media(min-width: 1406px) and (max-width: 1766px){
            min-height: 640px;
        }
        @media(min-width: 1766px) and (max-width: 1906px){
            min-height: 680px;
        }
        @media(min-width: 1906px){
            min-height: 750px;
        }
    }
    .overlay {
        position: absolute;
        z-index: 999;
        top: 0;
        bottom: 6px;
        width: 100%;
        background-position: left top, left top;
        background-repeat: repeat-x, repeat;
        text-align: center;
        
        .overlay-content {
            display: inline-block;
            margin-top: 12.0%;

            @media (max-width: $screen-xs) {
                margin-top: 28%;
            }
            @media(min-width: 1406px) and (max-width: 1766px){
                margin-top: 10%;
            }
            @media(min-width: 1766px) and (max-width: 1906px){
                margin-top: 11%;
            }
            @media(min-width: 1906px){
                margin-top: 10%;
            }
            .btn-green{
                margin-top: 40px;
                @media (min-width: $screen-xs) {
                    margin-top: 40px;
                }
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                    margin-top: 50px;
                }
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
                    margin-top: 50px;
                    
                }
                @media (min-width: $screen-lg-min) and (max-width: 1406px) {
                    margin-top: 70px;
                }
                @media(min-width: 1406px) and (max-width: 1766px){
                    margin-top: 85px;
                }
                @media(min-width: 1766px) and (max-width: 1906px){
                    margin-top: 85px;
                }
                @media(min-width: 1906px){
                    margin-top: 85px;
                }
                span{
                    height: 30px;
                }
            }
        }
        a{
            color: #FFFFFF;
            &:focus{
                outline: none;
                text-decoration: none;
            }
            &:active{
                outline: none;
                text-decoration: none;
            }
            &:hover{
                outline: none;
                text-decoration: none;
            }
            &:visited{
                outline: none;
                text-decoration: none;
            }
        }
        h1{
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
            
            @media (max-width: $screen-xs-max){
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                font-size: 3rem;
                line-height: 1.4;
            }

            @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
                font-size: 4rem;
                line-height: 1.2;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 4.8rem;
                line-height: 1.2;
            }
            @media(min-width: 1406px) and (max-width: 1766px){
                font-size: 5.0rem;
                line-height: 1.2;
            }
            @media(min-width: 1766px) and (max-width: 1906px){
                font-size: 5.0rem;
                line-height: 1.2;
            }
            @media(min-width: 1906px){
                font-size: 5.2rem;
                line-height: 1.2;
            }
        }

        h4{
            opacity: 0.9;
            font-family: "proxima-nova",Helvetica;
            color: #FFFFFF;
            @media (max-width: $screen-xs-max){
                margin-bottom: 40px;
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                margin-top: 16px;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
                line-height: 1.8;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 32px;
                line-height: 1.8;
            }
            @media(min-width: 1406px) and (max-width: 1766px){
                font-size: 34px;
                line-height: 1.9;
            }
            @media(min-width: 1766px) and (max-width: 1906px){
                font-size: 38px;
                line-height: 2.0;
            }
            @media(min-width: 1906px){
                font-size: 44px;
                line-height: 2.1;
            }
        }
    }
}
