.banner-section-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #000;
    .main-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
          font-weight: 600;
        }
        h5 {
          color: white;
          opacity: 0.6;
          margin-top: 0;
        }
      }
    #banner-img-container{
        position: relative;
        width: 100%;
        height: auto !important;
        z-index: 998;
        margin: 0 0 0 0;
        background: url('/img/city-darken.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
        background-position: center !important;
        background-repeat: no-repeat no-repeat;
        opacity: 0.7;

        @media (max-width: $screen-xs-max){
            min-height: 424px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            min-height: 460px;
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
            min-height: 520px;
        }
        @media (min-width: $screen-lg-min) and (max-width: 1406px) {
            min-height: 540px;
        }
        @media(min-width: 1406px) and (max-width: 1766px){
            min-height: 640px;
        }
        @media(min-width: 1766px) and (max-width: 1906px){
            min-height: 680px;
        }
        @media(min-width: 1906px){
            min-height: 750px;
        }
    }
    .overlay {
        position: absolute;
        z-index: 999;
        top: 0;
        bottom: 6px;
        width: 100%;
        background-position: left top, left top;
        background-repeat: repeat-x, repeat;
        text-align: center;

        .overlay-content {
            display: inline-block;
            margin-top: 12.0%;

            @media (max-width: $screen-xs) {
                margin-top: 20%;
            }
            @media(min-width: 1406px) and (max-width: 1766px){
                margin-top: 10%;
            }
            @media(min-width: 1766px) and (max-width: 1906px){
                margin-top: 11%;
            }
            @media(min-width: 1906px){
                margin-top: 10%;
            }
            .btn-green{
                margin-top: 20px;
                @media (min-width: $screen-xs) {
                    margin-top: 40px;
                }
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                    margin-top: 50px;
                }
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
                    margin-top: 50px;

                }
                @media (min-width: $screen-lg-min) and (max-width: 1406px) {
                    margin-top: 70px;
                }
                @media(min-width: 1406px) and (max-width: 1766px){
                    margin-top: 85px;
                }
                @media(min-width: 1766px) and (max-width: 1906px){
                    margin-top: 85px;
                }
                @media(min-width: 1906px){
                    margin-top: 85px;
                }
                span{
                    height: 30px;
                }
            }
        }
        a{
            color: #FFFFFF;
            &:focus{
                outline: none;
                text-decoration: none;
            }
            &:active{
                outline: none;
                text-decoration: none;
            }
            &:hover{
                outline: none;
                text-decoration: none;
            }
            &:visited{
                outline: none;
                text-decoration: none;
            }
        }

        h1{
            color: white;
        }
        
        h4 {
            color: white;
            opacity: 0.6;
        }
    }
}
