.portfolio-filter {
  margin-top: 62px;
}

.portfolio-list {
  margin-top: 25px;
  margin-bottom: 65px;

  figure {
    margin-bottom: 30px;

    a {
      display: block;

      img {
        height: 230px;
        width: 100%;
      }
    }
  }

  figcaption {
    background: url("/img/arrow-right-red.png") no-repeat right, #f1f1f1;
    font-size: 1.35em;
    height: 65px;
    padding: 10px;
    border-right: 16px solid transparent;

    p {
      margin: 0;
      line-height: 1.2;

      &.name {
        font-weight: 600;
      }

      &.category {
        color: #999999;
        font-weight: 300;
        font-size: 15px;
      }
    }

  }
}