.portfolio-list {
  margin-top: 10px;
  margin-bottom: 65px;

  figure {
    margin-top: 12px;
    margin-bottom: 30px;

    a {
      display: block;

      img {
        height: 230px;
        width: 100%;
      }
    }
  }

  figcaption {
    background: #f1f1f1;
    font-size: 1.35em;
    padding: 10px;

    p {
      margin: 0;
      line-height: 1.2;

      &.category {
        color: #999999;
      }
    }

  }
}