.services-container {
  border-bottom: 1px solid #e3e3e3;
  padding-top: 20px;
  padding-bottom: 10px;

  ul {
    margin: 0 auto;
  }

  li {
    border-right: 2px solid #000;
    padding-right: 35px;

    a {
      color: inherit;

      &:hover {
        color: $theme-color-pink;
      }
    }

    &.active a {
      border-bottom: 4px solid $theme-color-pink;
      padding-bottom: 15px;
      color: $theme-color-pink;
    }

    &:first-child {
      padding-left: 45px !important;
    }

    &:last-child {
      border-right: 0;
      margin-left: 25px;
    }
  }
}

.services-section {
  padding-top: 20px;
  padding-bottom: 40px;
}

.technology-section div:nth-child(4n+1) {
  float: right;
}

.tech-image {
  margin-top: 100px;
  clear: both;
}

@media (max-width: $screen-sm) {
  .technology-section div:nth-child(4n+1) {
    float: none;
  }

  .tech-image {
    text-align: center;
  }
}
