.web-development, .mobile-development, .innovation-consulting {
  padding-top: 30px;
  padding-bottom: 30px;
}

.web-development ul li {
  padding-bottom: 10px;
}

.mobile-development {
  background-color: #F6F9FC;
  .clickable-card {
    background-color: white;
    h3 {
      color: #32325D;
    }
    p {
      color: #6B7C93;
    }
  }
}