.services-container {
  border-bottom: 1px solid #e3e3e3;

  ul {
    margin: 0 auto;
  }

  li {
    padding: 10px 0;
    border-right: 1px solid #e3e3e3;

    a {
      color: inherit;
      font-size: 20px;

      &:hover {
        color: $theme-color-pink;
      }
    }

    &.active a {
      border-bottom: 4px solid $theme-color-pink;
      padding-bottom: 12px;
      color: $theme-color-pink;
    }

    &:first-child {
      padding-right: 35px;
    }

    &:last-child {
      border-right: 0;
      margin-left: 25px;
    }
  }
}

.services-section {
  padding-top: 20px;
  padding-bottom: 40px;
}

.technology-section div:nth-child(4n+1) {
  float: right;

  img {
    float: right;
  }
}

.tech-image {
  clear: both;
}

.tech-text {
  p {
    color: #000;
  }
}

@media (max-width: $screen-sm) {
  .technology-section div:nth-child(4n+1) {
    float: none;
  }

  .tech-image {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.portfolio-container {
  h1, h3 {
   display: inline-block; 
   text-align: right;
  }

  h1 {
    width: 60%;
  }

  h3 {
    width: 39%;
  }

  a.see-all-portfolio {
    color: $theme-color-pink;

    &:hover {
      border-bottom: 1px solid $theme-color-pink;
    }
  }
}

@media (max-width: $screen-sm) {
  .portfolio-container {
    h1, h3 {
      text-align: center;
    }

    h1 {
      width: 100%;
    }

    h3 {
      width: 100%;
   }
  }
}
