.modal-dialog {
    display: block;
    height: 100%;
    position: relative;
}

.modal-content {
  width: 700px;
  height: 482px;

  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  text-align: center;
}

.quote-header {
  margin-top: 142px;

  @media (max-width: $screen-sm) {
    margin-top: 104px;
  }
}

.post {
  p {
      line-height: 1.45;
      word-wrap: break-word;
      margin-bottom: 24px;
  }

  ol {
      margin-left: 30px;
  }

  a {
      color: $theme-color-pink;

      &:hover {
          text-decoration: underline;
      }
  }
}

.category-filter {
  .categories-label {
    color: #999;
    cursor: initial;
  }

  .category-list-mobile {
    margin-bottom: 10px;
  }

  ul.category-list-desktop {
    line-height: 27.55px;
    margin-top: 58px;

    li {
      padding-right: 11px;
      border-right: 1px solid #dfdddd;

      a {
        color: #333;
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover, &.active {
        a {
          color: $theme-color-pink;
        }
      }

      &.active {
        a {
          border-bottom: 4px solid $theme-color-pink;
        }
      }
    }
  }
}


.big-picture-img-container {
  figure {
    position: relative;
    height: 337px;
    width: 288px;
    margin: auto;
  }

  .golden-circle {
    transition: background 0.5s;
    position: absolute;
  }

  .what-img {
    background: url("/img/what-active.png") no-repeat;
    height: 337px;
    width: 288px;

    &.inactive {
      background: url("/img/what-inactive.png") no-repeat;
    }

    &.active {
      background: url("/img/what-active.png") no-repeat;
    }
  }

  .how-img {
    top: 65px;
    left: 55px;
    background: url("/img/how.png") no-repeat;
    height: 214px;
    width: 179px;

    &.inactive {
      background: url("/img/how-inactive.png") no-repeat;
    }

    &.active {
      background: url("/img/how-active.png") no-repeat;
    }
  }

  .why-img {
    top: 128px;
    left: 105px;
    background: url("/img/why.png") no-repeat;
    height: 93px;
    width: 78px;

    &.inactive {
      background: url("/img/why-inactive.png") no-repeat;
    }

    &.active {
      background: url("/img/why-active.png") no-repeat;
    }
  }
}
