.hidden-important {
  display: none !important;
}

.modal-dialog {
    display: block;
    height: 100%;
    position: relative;
}

.modal-content {
  width: 700px;
  height: 482px;

  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  text-align: center;
}

.quote-header {
  @media (max-width: $screen-sm) {
    margin-top: 104px;
  }
}

.post {
  p {
      line-height: 1.45;
      word-wrap: break-word;
      margin-bottom: 24px;
  }

  ol {
      margin-left: 30px;
  }

  a {
    color: $theme-color-pink;

    &:hover {
      @include border-bottom-pink;
    }
  }
}

.category-filter {
  .categories-label {
    color: #999;
    cursor: initial;
  }

  .category-list-mobile {
    margin-bottom: 10px;
  }

  ul.category-list-desktop {
    line-height: 27.55px;

    li {
      margin-left: 6px;
      padding-right: 14px;
      border-right: 1px solid #dfdddd;

      a {
        color: #333;
      }

      &:first-child {
        margin-left: 0;
        min-width: 85px;
      }

      &:hover, &.active {
        a {
          color: $theme-color-pink;
        }
      }

      &.active {
        a {
          border-bottom: 4px solid $theme-color-pink;
        }
      }
    }
  }
}

.why-us-image-section {
  @media (max-width: $screen-sm) {
    .big-picture-text ul {
      padding-left: 0;
    }

    .big-picture-text li {
      text-align: center;
      width: 50%;
      margin: 0 auto;
    }
  }

  .big-picture-text {
    font-weight: 300;

    &.on-desktop {
      padding-top: 95px;

      h1 {
        margin-right: 15px;
        text-align: right;
        font-weight: 100;
      }
    }

    &.on-mobile {
      padding-bottom: 35px;

      h1 {
        font-size: 42px;
      }
    }
  }

  .big-picture-list {
    font-weight: 100;

    @media (max-width: $screen-sm) {
      padding-top: 10px;
    }

    @media (max-width: $screen-xs) {
      padding-top: 0;
    }

    @media (max-width: $screen-md) {
      ul {
        margin-top: 30px;
      }

      li {
        text-align: center;
      }
    }

    ul {
      list-style-type: none;
      margin-top: 15px;
      margin-left: 32px;

      @media (max-width: $screen-sm) {
        margin-left: 0px;
      }
    }

    li {
      line-height: 1.5;
    }

    li a:hover {
      @include border-bottom-pink
    }
  }
}


.big-picture-img-container {
  figure {
    position: relative;
    height: 337px;
    width: 288px;
    margin: auto;
  }

  .golden-circle {
    background-size: 100% !important;
    transition: background 0.5s;
    position: absolute;

    -moz-border-radius-topleft: 240px 180px;
    -moz-border-radius-topright: 230px 180px;
    -moz-border-radius-bottomright: 240px 170px;
    -moz-border-radius-bottomleft: 230px 170px;

    -webkit-border-top-right-radius: 240px 180px;
    -webkit-border-top-left-radius: 230px 180px;
    -webkit-border-bottom-right-radius: 240px 170px;
    -webkit-border-bottom-left-radius: 230px 170px;

    border-top-right-radius: 240px 180px;
    border-top-left-radius: 230px 180px;
    border-bottom-right-radius: 240px 170px;
    border-bottom-left-radius: 230px 170px;
  }

  .what-img {
    background: url("/img/what-active.png") no-repeat;
    height: 337px;
    width: 288px;

    &.inactive {
      background: url("/img/what-inactive.png") no-repeat;
    }

    &.active {
      background: url("/img/what-active.png") no-repeat;
    }
  }

  .how-img {
    top: 65px;
    left: 55px;
    background: url("/img/how.png") no-repeat;
    height: 214px;
    width: 179px;

    &.inactive {
      background: url("/img/how-inactive.png") no-repeat;
    }

    &.active {
      background: url("/img/how-active.png") no-repeat;
    }
  }

  .why-img {
    top: 128px;
    left: 105px;
    background: url("/img/why.png") no-repeat;
    height: 93px;
    width: 78px;

    &.inactive {
      background: url("/img/why-inactive.png") no-repeat;
    }

    &.active {
      background: url("/img/why-active.png") no-repeat;
    }
  }
}

.content-tabs {
  border-bottom: 1px solid #e3e3e3;
  @media (max-width: $screen-sm) {
    border-bottom: none;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    max-width: 835px;
  }

  .tab {
    text-align: center;
    padding: 11px;
    border-right: 1px solid #e3e3e3;
    font-size: 20px;

    @media (max-width: $screen-sm) {
      border-bottom: 1px solid #e3e3e3;

      &:nth-child(2n) {
        border-right: none;
      }
    }

    &:last-child {
      border-right: none;
    }

    &.active {
      a {
        border-bottom: 4px solid #d22341;
        padding-bottom: 13px;
        color: #d22341;
      }
    }
  }
}

ul.arrow-list-style {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 1em;
  padding-left: 0;

  li {
    background: url('/img/arrow-right-red.png') left 0.5em no-repeat;
    line-height: 1.5em;
    padding-left: 1.5em;
    padding-right: 1em;
    margin-top: 0.5em;
    font-size: 18px;

    a {
      color: $theme-color-pink;
    }

    span {
      display: inline-block;
      width: 100%;
      padding-bottom: 0.5em;
      border-bottom: 1px solid #e3e3e3;
    }

    &:last-child span {
      border-bottom: none;
    }
  }
}

.button {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid transparent;
  background: #FFFFFF;
  color: #2A2A2A;
  -webkit-appearance: none;
  transition: background-color .25s ease-out, color .25s ease-out;
  vertical-align: middle;
  padding: 10px 15px;
  text-align: center;
  box-shadow: none;
  display: inline-block;
  margin-top: 20px;
  &:hover {
    text-decoration: none;
  }
}

.button-red-border {
  border: 1px solid #BD1F3A;
  color: #BD1F3A;
  background-color: transparent;
  &:hover {
    background-color: #BD1F3A;
    color: white;
  }
}

.button-red-filled {
  background-color: #BD1F3A;
  color: white;
}

.button-black-border {
  border: 1px solid #202020;
  color: #202020;
  &:hover {
    background-color: #202020;
    color: white;
  }
}

.button-black-filled {
  background-color: #202020;
  color: white;
}

.button-white-filled {
  background-color: white;
  color: #202020;
  &:hover {
    background-color: #202020;
    color: white;
  }
}

.lets-talk {
  background-color: #BD1F3A;
  padding-top: 40px;
  padding-bottom: 80px;
  box-shadow: none;
  h2 {
    color: white;
  }
}

.main-heading {
  margin-top: 30px;
  margin-bottom: 30px;
}

.grey {
  color: #656565;
}

.clickable-card {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 30px;
  padding-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  border-radius: 2px;
  background-clip: padding-box;
}

.wild-sand {
  background-color: #F4F4F4;
}

.media-card {
  background-color: white;
  display: block;
  margin: 0 0 25px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
  border-radius: 2px;
  background-clip: padding-box;
  
  .meta {
    h5 {
      padding: 0 20px;
      margin-bottom: 0px;
      margin-top: 20px;
      text-transform: uppercase;
      color: #656565;
    }
    p {
      padding: 0 20px;
    }
  }

  &:hover {
    background-color: #2A2A2A;
    color: white;
    transition: all 0.2s ease-in;
    a, h5 {
      color: white;
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: #2A2A2A;
  }
  .media span {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
    display: block;
  }
}