.quote-header {
  margin-top: 142px;

  @media (max-width: $screen-sm) {
    margin-top: 104px;
  }
}

.category-filter {
  .categories-label {
    color: #999;
    cursor: initial;
  }

  .category-list-mobile {
    margin-bottom: 10px;
  }

  ul.category-list-desktop {
    line-height: 27.55px;
    margin-top: 58px;

    li {
      padding-right: 11px;
      border-right: 1px solid #dfdddd;

      a {
        color: #333;
      }

      &:first-child {
        margin-left: 0;
        border-right: 0;
      }

      &:last-child {
        border-right: 0;
      }

      &:hover, &.active {
        a {
          color: $theme-color-pink;
        }
      }

      &.active {
        a {
          border-bottom: 4px solid $theme-color-pink;
        }
      }
    }
  }
}
