.single-portfolio {
  .banner-section-container {
    .main-heading {
      h1 {
        @media (max-width: $screen-xs-max){
          font-size: 20px;
          line-height: 1.4;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
          font-size: 26px;
          line-height: 1.4;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
          font-size: 32px;
          line-height: 1.4;
        }
        @media (min-width: $screen-lg-min) and (max-width: 1406px) {
          font-size: 34px;
          line-height: 1.4;
        }
        @media(min-width: 1406px) and (max-width: 1766px){
          font-size: 36px;
          line-height: 1.4;
        }
        @media(min-width: 1766px) and (max-width: 1906px){
          font-size: 38px;
        }
        @media(min-width: 1906px){
          font-size: 40px;
        }
      }
    }
    #banner-img-container{
      @media (max-width: $screen-xs-max){
          min-height: 274px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
          min-height: 310px;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
          min-height: 370px;
      }
      @media (min-width: $screen-lg-min) and (max-width: 1406px) {
          min-height: 390px;
      }
      @media(min-width: 1406px) and (max-width: 1766px){
          min-height: 490px;
      }
      @media(min-width: 1766px) and (max-width: 1906px){
          min-height: 530px;
      }
      
      @media(min-width: 1906px){
          min-height: 600px;
      }
    }
  }
  
  .story-overview {
    .highlight {
      margin-top: 80px;
      margin-bottom: 80px;
      padding-bottom: 60px;
      border-bottom: 2px solid #EAEAEA;
      .challenge, .outcome {
        h3 {
          text-transform: uppercase;
          font-weight: 600;
          color: #333333;
        }
        .overview-content {
          width: 90%;
          line-height: 2;
          margin-top: 10px;
          color: #484848;
        }
      }
    }
  }
  .story-content {
    margin-top: 80px;
    .story {
      margin-top: 80px;
      margin-bottom: 80px;
      img {
        margin-bottom: 30px;
      }
      p {
        line-height: 2;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 400;
        color: #484848;
      }
    }
    .customer-data {
      background: white;
      padding: 25px;
      position: relative;
      -webkit-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
      -moz-box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
      box-shadow: 0 2px 64px 0 rgba(208,208,208,0.5);
      border-radius: 2px;
      background-clip: padding-box;
      .customer-info {
          background-color: $theme-color-pink;
          position: absolute;
          top: -30px;
          left: 40px;
          padding: 10px;
          color: white;
          width: 100%;
          border-radius: 2px;
          background-clip: padding-box;
          h4, p {
            margin: 0px 0px 0px 30px;
          }
      }
      .customer-review {
        margin-top: 60px;
          .quote-text {
            i{
              font-size:1.0em;
              margin-right: 0.4em;
            }
            clear:both;
            font-weight:500;
            font-size: 18px;
          }
      }
      img {
        width: 100px;
        position: absolute;
        left: -40px;
        top: -40px;
        z-index: 10;
        border-radius: 2px;
        background-clip: padding-box;
      }
      .customer-org {
        font-size: 1em;
      }
      .button-with-icon {
        margin: 10px;
      }
    }
  }
  .other-portfolios {
    margin-bottom: 80px;
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      color: #333333;
      margin-bottom: 30px;
    }
  }
  .title-container {
    border-bottom: 1px solid #ddd;
    box-shadow: 3px -6px 30px 8px #F3F3F3;
    // height: 90px;
  }

  .project-title, .portfolio-nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .project-title {

    @media (max-width: $screen-sm) {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    .post-title, .category {
      // display: inline-block;

      @media (max-width: $screen-sm) {
        display: block;
      }
    }

    .post-title {
      margin-bottom: 5px;
      margin-right: 6px;

      h1 {
        margin: 0;
        line-height: 1;
      }
    }

    .category {
      font-size: 1.35em;
      font-weight: 100;
      color: $theme-color-pink;
    }
  }

  .portfolio-nav {
    text-align: center;
    margin-top: 20px;

    @media (max-width: $screen-sm) {
      padding-top: 35px;
      padding-bottom: 70px;
    }

    .links {
      height: 35px;
      display: inline-block;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;

      @media (max-width: $screen-sm) {
        border: none;
      }

      @media (min-width: $screen-sm) {
        width: 18%;
      }

      &.portfolio-link {
        border: none;
        background: url('/img/portfolio-icon.png') no-repeat center;
      }

      &.previous-project {
        background: url('/img/arrow-left-grey.png') no-repeat center;
        @media (max-width: $screen-sm) {
          background-position: left;
        }
      }

      &.next-project {
        background: url('/img/arrow-right-grey.png') no-repeat center;
        @media (max-width: $screen-sm) {
          background-position: right;
        }
      }
    }
  }
}