.single-portfolio {
  .portfolio-image-section {
    height: 566px;
    overflow: hidden;
    position: relative;

    @media (max-width: $screen-sm) {
      height: 469px;
    }

    .overlay {
      background: url("/img/portfolio-parrern-one.png");
      position: absolute;
      opacity: 0.4;
      z-index: 1;
    }

    .background {
      width: 100%;
      position: absolute;
      top: 50px;
      height: 100%;
    }

    .app-images-container {
      position: relative;
      text-align: center;
      z-index: 5;
    }

    .macbook {
      .app-image {
        width: 444px;
        top: 210px;
        position: absolute;

        &.left {
          left: 5%;
          @media (max-width: $screen-sm) {
            display: none;
          }
        }

        &.center {
          width: 630px;
          position: relative;
          margin: auto;
          z-index: 6;
          top: 140px;

          @media (max-width: $screen-sm) {
            width: initial;
            min-width: initial;
            top: 185px;
          }
        }

        &.right {
          right: 5%;
          @media (max-width: $screen-sm) {
            display: none;
          }
        }
      }
    }

    .nexus-5, .iphone {
      .app-image {
        margin-top: 290px;
        width: 194px;

        &.left {
          margin-right: 30px;
        }

        &.center {
          margin-top: 140px;
          width: 275px;
        }

        &.right {
          margin-left: 30px;
        }

        @media (max-width: $screen-sm) {
          &.left, &.right {
            width: 135px;
            width: 125px;
            margin-top: 278px;
            position: absolute;
          }

          &.left {
            left: 24px;
          }

          &.right {
            right: 24px;
          }

          &.center {
            position: relative;
            margin-top: 175px;
            width: 192px;
            z-index: 6;
          }
        }
      }
    }

    &.iphone {
      .app-image {

        &.left {

        }

        &.center {

        }

        &.right {

        }
      }
    }
  }

  .title-container {
    border-bottom: 1px solid #ddd;
    box-shadow: 3px -6px 30px 8px #F3F3F3;
    height: 90px;
  }

  .project-title, .portfolio-nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .project-title {

    @media (max-width: $screen-sm) {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    .post-title, .category {
      display: inline-block;

      @media (max-width: $screen-sm) {
        display: block;
      }
    }

    .post-title {
      margin-bottom: 5px;
      margin-right: 6px;

      h1 {
        margin: 0;
        line-height: 1;
      }
    }

    .category {
      font-size: 1.35em;
      font-weight: 100;
      color: $theme-color-pink;
    }
  }

  .portfolio-nav {
    text-align: center;

    @media (max-width: $screen-sm) {
      padding-top: 35px;
      padding-bottom: 70px;
    }

    .links {
      height: 35px;
      display: inline-block;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;

      @media (max-width: $screen-sm) {
        border: none;
      }

      @media (min-width: $screen-sm) {
        width: 18%;
      }

      &.portfolio-link {
        border: none;
        background: url('/img/portfolio-icon.png') no-repeat center;
      }

      &.previous-project {
        background: url('/img/arrow-left-grey.png') no-repeat center;
        @media (max-width: $screen-sm) {
          background-position: left;
        }
      }

      &.next-project {
        background: url('/img/arrow-right-grey.png') no-repeat center;
        @media (max-width: $screen-sm) {
          background-position: right;
        }
      }
    }
  }

  .content-container {
    padding-bottom: 95px;

    @media (max-width: $screen-sm) {
      padding-bottom: 0;
    }

    article {
      padding-top: 40px;
      padding-bottom: 40px;

      @media (min-width: $screen-sm) {
        padding-right: 75px;
      }

      ul {
        margin-left: 12px;
      }

      li {
        margin-left: 10px;
      }

    }

    aside {
      @media (max-width: $screen-sm) {
        padding: 0;
      }

      .customer-data {
        background: url('/img/testimonial-background-pattern.png');
        color: #fff;
        font-weight: 100;
        text-align: center;
        padding: 25px;

        img {
          width: 100px;
        }

        h3 {
          line-height: 1;
          margin-bottom: 0;
        }

        .customer-org {
          font-size: 1em;
        }

        .button-with-icon {
          margin: 10px;
        }
      }

      .jagged-pattern {
        background: url('/img/testimonial-background-bottom.png');
        height: 5px;
      }
    }

  }

}