.single-portfolio {
  .app-image-container {
    height: 556px;
    overflow: hidden;
    position: relative;

    @media (max-width: $screen-sm) {
      height: 458px;
    }

    .overlay {
      background: url("/img/portfolio-parrern-one.png");
      position: absolute;
      opacity: 0.4;
      z-index: 1;
    }

    .background {
      width: 100%;
      position: absolute;
      top: 50px;
      height: 100%;
    }

    .app-image {
      position: absolute;
      z-index: 4;

      &.center {
        position: relative;
        margin: 0 auto;
        display: block;
        z-index: 5;
      }

    }

    &.macbook {
      .app-image {
        width: 28%;
        top: 175px;
        min-width: 500px;

        &.left {
          left: 10%;
          @media (max-width: $screen-sm) {
            display: none;
          }
        }

        &.center {
          width: 35%;
          top: 130px;
          min-width: 630px;

          @media (max-width: $screen-sm) {
            width: initial;
            min-width: initial;
            top: 160px;
          }
        }

        &.right {
          right: 10%;
          @media (max-width: $screen-sm) {
            display: none;
          }
        }
      }
    }

    &.nexus-5, &.iphone {
      .app-image {
        top: 276px;
        width: 14%;

        @media (max-width: $screen-sm) {
          width: 36%;;
        }

        &.left {
          left: 24%;

          @media (max-width: $screen-sm) {
            left: 10%;;
          }
        }

        &.center {
          top: 130px;
          width: 20%;

          @media (max-width: $screen-sm) {
            width: 45%;;
            top: 160px;
          }
        }

        &.right {
          right: 24%;

          @media (max-width: $screen-sm) {
            right: 10%;;
          }
        }
      }
    }

    &.iphone {
      .app-image {

        &.left {

        }

        &.center {

        }

        &.right {

        }
      }
    }
  }

  .title-container {
    border-bottom: 1px solid #ddd;
    box-shadow: 3px -6px 30px 8px #F3F3F3;
  }

  .portfolio-nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: $screen-sm) {
      padding-top: 35px;
      padding-bottom: 70px;
    }

    .links {
      height: 35px;
      display: inline-block;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;

      @media (max-width: $screen-sm) {
        border: none;
      }

      @media (min-width: $screen-sm) {
        width: 18%;
      }

      &.portfolio-link {
        border: none;
        background: url('/img/portfolio-icon.png') no-repeat center;
      }

      &.previous-project {
        background: url('/img/arrow-left-grey.png') no-repeat center;
        @media (max-width: $screen-sm) {
          background-position: left;
        }
      }

      &.next-project {
        background: url('/img/arrow-right-grey.png') no-repeat center;
        @media (max-width: $screen-sm) {
          background-position: right;
        }
      }
    }
  }

  .content-container {
    padding-bottom: 95px;

    @media (max-width: $screen-sm) {
      padding-bottom: 0;
    }

    article {
      padding-top: 40px;
      padding-bottom: 40px;

      @media (min-width: $screen-sm) {
        padding-right: 75px;
      }

      ul {
        margin-left: 12px;
      }

      li {
        margin-left: 10px;
      }
    }

    aside {
      .customer-data {
        background: url('/img/testimonial-background-pattern.png');
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,0.6);
        padding: 25px;

        img {
          width: 100px;
        }

        h3 {
          line-height: 1;
          margin-bottom: 0;
        }

        .customer-org {
          font-size: 1em;
        }

        .button-with-icon {
          margin: 10px;
        }
      }

      .jagged-pattern {
        background: url('/img/testimonial-background-bottom.png');
        height: 5px;
      }
    }

  }

  .project-title {
    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .category {
      font-size: 0.52em;
      color: $theme-color-pink;
    }
  }
}