.team-header {
  margin-top: 25px;
  margin-bottom: 63px;

  h1 {
    margin-bottom: 22px;
  }
}

.team-sort {
  ul {
    line-height: 27.55px;
  }

  li {
    padding-right: 12px;
    margin-left: 10px;
    border-right: 1px solid #dfdddd;

    cursor: pointer;

    &:first-child {
      margin-left: 0;
      border-right: 0;
      color: #999;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

.team-sort-active {
  border-bottom: 4px solid $theme-color-pink;
}

.team-images {
  margin-top: 33px;
  margin-bottom: 65px;

  figure {
    cursor: pointer;
    float: left;
    text-align: center;
    margin-top: 12px;

    img {
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);
    }

    figcaption {
      padding: 10px 0 8px 0;
      max-width: 140px;
      margin: auto;
    }

    &:hover {
      img {
        filter: none;
        -webkit-filter: grayscale(0);
      }
      figcaption {
        color: $theme-color-pink;
      }
    }

    &.active {
      img {
        filter: none;
        -webkit-filter: grayscale(0);
      }

      figcaption {
        border-bottom: 4px solid $theme-color-pink;
      }
    }

    &.ux-designer, &.lead-programmer {
      background-color: #666;
      text-align: center;
      padding: 48px 20px 53px 20px;

      &:after {
        content: url('/img/arrow-right.png');
      }

      &:hover {
        background-color: $theme-color-pink;
      }
    }
  }

  .profile {
    float: left;
    position: relative;
    margin-bottom: 60px;

    .translucent-layer {
      width: 100%;
      background: #797979;
      position: absolute;
      height: 100%;
      opacity: 0.1;
      z-index: 10;
    }

    .image-container, .description {
      margin-top: 17px;
    }

    .image-container {
      text-align: center;
    }

    .description {
      z-index: 11;

      h2 {
        color: #bd1f3a;
      }

      h4 {
        color: #666666;
      }

      .bio {
        line-height: 1.5;
      }

      ul {
        line-height: 4;

        li {
          padding-right: 10px;
          padding-left: 0;
        }
      }
    }
  }
}