@font-face {
  font-family: 'GT-Walsheim-Pro-Bold';
  src: url("/assets/fonts/GT-Walsheim-Pro-Bold.eot");
  src: url("/assets/fonts/GT-Walsheim-Pro-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GT-Walsheim-Pro-Bold.woff") format("woff"), url("/assets/fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype"), url("/assets/fonts/GT-Walsheim-Pro-Bold.svg#GT-Walsheim-Pro-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim-Pro-Regular';
  src: url("/assets/fonts/GT-Walsheim-Pro-Regular.eot");
  src: url("/assets/fonts/GT-Walsheim-Pro-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GT-Walsheim-Pro-Regular.woff") format("woff"), url("/assets/fonts/GT-Walsheim-Pro-Regular.ttf") format("truetype"), url("/assets/fonts/GT-Walsheim-Pro-Regular.svg#GT-Walsheim-Pro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GT-Walsheim-Pro-Light';
  src: url("/assets/fonts/GT-Walsheim-Pro-Light.eot");
  src: url("/assets/fonts/GT-Walsheim-Pro-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GT-Walsheim-Pro-Light.woff") format("woff"), url("/assets/fonts/GT-Walsheim-Pro-Light.ttf") format("truetype"), url("/assets/fonts/GT-Walsheim-Pro-Light.svg#GT-Walsheim-Pro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GT-Walsheim-Pro-Medium';
  src: url("/assets/fonts/GT-Walsheim-Pro-Medium.eot");
  src: url("/assets/fonts/GT-Walsheim-Pro-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GT-Walsheim-Pro-Medium.woff") format("woff"), url("/assets/fonts/GT-Walsheim-Pro-Medium.ttf") format("truetype"), url("/assets/fonts/GT-Walsheim-Pro-Medium.svg#GT-Walsheim-Pro-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GT-Walsheim-Pro-Bold-Oblique';
  src: url("/assets/fonts/GT-Walsheim-Pro-Bold-Oblique.eot");
  src: url("/assets/fonts/GT-Walsheim-Pro-Bold-Oblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GT-Walsheim-Pro-Bold-Oblique.woff") format("woff"), url("/assets/fonts/GT-Walsheim-Pro-Bold-Oblique.ttf") format("truetype"), url("/assets/fonts/GT-Walsheim-Pro-Bold-Oblique.svg#GT-Walsheim-Pro-Bold-Oblique") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GT-Walsheim-Pro-Medium-Oblique';
  src: url("/assets/fonts/GT-Walsheim-Pro-Medium-Oblique.eot");
  src: url("/assets/fonts/GT-Walsheim-Pro-Medium-Oblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GT-Walsheim-Pro-Medium-Oblique.woff") format("woff"), url("/assets/fonts/GT-Walsheim-Pro-Medium-Oblique.ttf") format("truetype"), url("/assets/fonts/GT-Walsheim-Pro-Medium-Oblique.svg#GT-Walsheim-Pro-Medium-Oblique") format("svg");
  font-weight: normal;
  font-style: normal;
}

$theme-color-pink: #d22341;
$theme-color-dark-pink: #b01732;
$theme-color-green: #7ED321;
$theme-color-dark-green: #1ED321;
$theme-header-color: #bd1f3a;
$grey-bg: #f1f1f1;

html, body {
  font-family: $font-family-sans-serif;
  font-size: 17px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  color: #333;
}

/* UI ELEMENTS */

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 42px;
  line-height: 49.55px;

  @media (max-width: $screen-sm) {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  line-height: 51.55px;
}

h3 {
  font-size: 28px;
  line-height: 51.55px;
}

h4 {
  font-size: 24px;
  line-height: 29.55px;
}

h5, h6 {
  font-size: 18px;
  line-height: 27.55px;
}

p {
  font-size: 18px;
  line-height: 25.25px;
}

ul {
  font-size: 16px;
  line-height: 33.55px;
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
  color: white;
}

.red-text {
  color: $theme-color-pink;
}
