$theme-color-pink: #d22341;
$theme-color-dark-pink: #b01732;
$theme-header-color: #bd1f3a;
$grey-bg: #f1f1f1;

html, body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 16px;
}

/* UI ELEMENTS */

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 42px;
  line-height: 49.55px;

  @media (max-width: $screen-sm) {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  line-height: 51.55px;
}

h3 {
  font-size: 28px;
  line-height: 51.55px;
}

h4 {
  font-size: 24px;
  line-height: 29.55px;
}

h5, h6 {
  font-size: 18px;
  line-height: 27.55px;
}

p {
  font-size: 18px;
  line-height: 25.25px;
}

ul {
  font-size: 16px;
  line-height: 33.55px;
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
  color: white;
}

.red-text {
  color: $theme-color-pink;
}
