.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

// center images, using text-align is not supported by w3c
@mixin img-center {
  display: block;
  margin: 0 auto;
}

// fluid images
img {
  max-width: 100%;
  height: auto;
}

@mixin border-bottom-pink {
  border-bottom: 1px dotted;
  color: $theme-color-pink;
}

@mixin right-arrow {
  display: inline-block;
  margin-left: 10px;
  width: 14px;
  height: 11px;
  background: url("/img/arrow-right-red.png") no-repeat;
}
