.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.theme-pink-color {
  color: $theme-color-pink;
}

.bold {
  font-weight: bold;
}

.placeholder-grey {
  &::-webkit-input-placeholder {
    color: grey;
  }
  &::-moz-placeholder {
    color: grey;
  }
}
// center images, using text-align is not supported by w3c
@mixin img-center {
  display: block;
  margin: 0 auto;
}

// fluid images
img {
  max-width: 100%;
  height: auto;
}

@mixin border-bottom-pink {
  box-shadow: 0 1px $theme-color-pink;
  color: $theme-color-pink;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
