.why-us-page {
  margin-top: 108px;

  .why-us-image-section {
    min-height: 538px;
    padding-top: 5.8%;
    padding-bottom: 5.8%;
    -webkit-box-shadow: inset 0px 0px 163px rgb(145, 145, 145);
    -moz-box-shadow: inset 0px 0px 163px rgb(145, 145, 145);
    box-shadow: inset 0px 0px 163px rgb(145, 145, 145);

    @media (max-width: $screen-sm) {
      background: #f2f2f2;
      box-shadow: none;
    }

    .big-picture-text {
      -webkit-transition: width 0.8s ease, padding 0.8s ease;
      -moz-transition: width 0.8s ease, padding 0.8s ease;
      -o-transition: width 0.8s ease, padding 0.8s ease;
      transition: width 0.8s ease, padding 0.8s ease;

      &.size-0 {
        width: 0;
        padding: 0;
      }
    }

    .big-picture-img-container {
      padding-bottom: 35px;

      -webkit-transition: width 0.8s ease;
      -moz-transition: width 0.8s ease;
      -o-transition: width 0.8s ease;
      transition: width 0.8s ease;

      .image-prefetcher {
        background: url("/img/why-inactive.png") no-repeat, url("/img/why-active.png") no-repeat, url("/img/how-inactive.png") no-repeat, url("/img/how-active.png") no-repeat, url("/img/what-inactive.png") no-repeat;
      }
    }

    .big-picture-list {
      @media (max-width: $screen-sm) {
        display: none;
      }

      padding-top: 14px;

      li {
        font-size: 26px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e3e3e3;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .tab-content {

      .tab-pane {
        padding-top: 50px;
        padding-bottom: 10px;
        @media (max-width: $screen-sm) {
          padding-top: 0;
          display: block !important;
          opacity: 1 !important;
          border-bottom: 1px solid #e3e3e3;

          &:last-child {
            border-bottom: none;
          }

          h1, h4 {
            line-height: 1;
          }
        }
      }

    }
  }

  .content-tabs {
    border-bottom: 1px solid #e3e3e3;
    @media (max-width: $screen-sm) {
      border-bottom: none;
    }

    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      max-width: 835px;
    }

    .tab {
      text-align: center;
      padding: 11px;
      border-right: 1px solid #e3e3e3;
      font-size: 20px;

      @media (max-width: $screen-sm) {
        border-bottom: 1px solid #e3e3e3;

        &:nth-child(2n) {
          border-right: none;
        }
      }

      &:last-child {
        border-right: none;
      }

      &.active {
        a {
          border-bottom: 4px solid #d22341;
          padding-bottom: 13px;
          color: #d22341;
        }
      }
    }
  }

  .content-section {
    .tab-content {
      padding-top: 36px;
      padding-bottom: 40px;

      @media (max-width: $screen-sm) {
        padding-top: 0;
      }

      .post {
        ul {
          margin-left: 28px;
        }
      }

      .title {
        margin-bottom: 12px;
      }

      .video-container {
        padding-top: 6px;
        margin-bottom: 30px;

        @media (max-width: $screen-sm) {
          text-align: center;
          padding-top: 0;
        }

        iframe {
          width: 460px;
          height: 280px;

          @media (max-width: $screen-sm) {
            width: 338px;
            height: 207px;
          }
        }

        .quote {
          margin: 0;
          text-align: center;
          font-size: 25px;
          font-weight: 100;
          line-height: 1.45;
          padding: 35px 18px;
        }
      }
    }

    .post:nth-child(2n+1) {
      .video-summary {
        @include make-md-column-pull(6);
      }

      .video-container {
        @include make-md-column-push(6);
      }
    }
  }

}