.why-us-page {
  margin-top: 108px;

  .why-us-image-section {
    min-height: 538px;
    padding-top: 5.8%;
    padding-bottom: 5.8%;
    -webkit-box-shadow: inset 0px 0px 163px rgb(145, 145, 145);
    -moz-box-shadow: inset 0px 0px 163px rgb(145, 145, 145);
    box-shadow: inset 0px 0px 163px rgb(145, 145, 145);

    @media (max-width: $screen-sm) {
      background: #f2f2f2;
      box-shadow: none;
    }

    .big-picture-text {
      -webkit-transition: width 0.8s ease, padding 0.8s ease;
      -moz-transition: width 0.8s ease, padding 0.8s ease;
      -o-transition: width 0.8s ease, padding 0.8s ease;
      transition: width 0.8s ease, padding 0.8s ease;

      &.size-0 {
        width: 0;
        padding: 0;
      }
    }

    .big-picture-img-container {
      padding-bottom: 35px;

      -webkit-transition: width 0.8s ease;
      -moz-transition: width 0.8s ease;
      -o-transition: width 0.8s ease;
      transition: width 0.8s ease;

      .image-prefetcher {
        background: url("/img/why-inactive.png") no-repeat, url("/img/why-active.png") no-repeat, url("/img/how-inactive.png") no-repeat, url("/img/how-active.png") no-repeat, url("/img/what-inactive.png") no-repeat;
      }
    }

    .big-picture-list {
      @media (max-width: $screen-sm) {
        display: none;
      }

      padding-top: 14px;

      li {
        font-size: 26px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e3e3e3;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .tab-content {

      .tab-pane {
        padding-top: 50px;
        padding-bottom: 10px;
        @media (max-width: $screen-sm) {
          padding-top: 0;
          display: block !important;
          opacity: 1 !important;

          h1, h4 {
            line-height: 1;
          }
        }
      }

    }
  }
}